[2014-10-06 15:29] ThomasG77 opened #1 "Scoping issue?"
Trying the component in a different code context than the demo, I encounter a scope issue. The switcher fails when you encapsulate all the application code in an IIFE.
To reproduce, in layerswitcher.js, add at the beginning `(function() {` and at the end `})();`
Then, try to switch back and forth between the two base layers and you will see the behaviour.
This error happens on Google Chrome 39.0.2

[2014-10-06 18:59] #1 closed, assigned to walkermatt

[2014-11-02 17:10] leyan opened #4 "Feature overlay"
If there is a FeatureOverlay active on a layer (for example to represent a selected element), it will stay visible if the layer is turned off, while it should disappear as well.

[2014-11-08 21:44] samimussbach opened #5 "Option displayInLayerSwitcher"
Thank you for jumping in to implement a layerswitcher.

Is there any possibility to implement the OL2-Option "displayInLayerSwitcher"? If set to false the Layer is visible but not displayed in the layerswitcher.
Or do I perhaps miss something?

[2014-11-08 22:31] #5 closed, assigned to nobody

[2014-12-15 01:07] kevinwucodes opened #6 "removing the layerswitcher control throws an error"
var layerSwitcher = new ol.control.LayerSwitcher();
map.addControl(layerSwitcher);
map.removeControl(layerSwitcher);

When trying to remove the layerswitcher control, an error is thrown.

[2014-12-15 16:39] #6 closed, assigned to walkermatt

[2014-12-22 02:12] ThomasG77 opened #7 "Add title when hovering legend icon"
Hovering the legend icon, I've seen a "missing" (IMO) title attribute tag in the element.
I have a [branch](https://github.com/ThomasG77/ol3-layerswitcher/tree/add-title) with the changes but before submitting, I want to get your opinion.

In the library, I use the same convention `tipLabel` as in [this ol3 source code](https://github.com/openlayers/ol3/blob/master/src/ol/control/rotatecontrol.js#

[2014-12-23 19:47] #7 closed, assigned to nobody

[2014-12-24 23:25] tawonga opened #9 "Panel not rendering with latest ol version (Version: v3.1.0-pre.2-508-g27b5036)"
There appears to be a problem where the layer switcher panel no longer rendering with the latest version of OL3 (Version: v3.1.0-pre.2-508-g27b5036 at the time of writing).

It does render with the version of OL3 packaged with ol3-layerswitcher on github.

The cause of the problem is that the render method added to the ol3-layerswitcher prototype is being overwritten by a render method inherited f

[2014-12-25 20:37] #9 closed, assigned to walkermatt

[2015-01-23 11:06] #4 closed

[2015-04-22 13:56] felipe84 opened #11 "Control Layer Opacity"
Thanks for implementing the layerswitcher.

How can I have an opacity slider using the layerswitcher as the following OL3 example? http://openlayers.org/en/v3.2.1/examples/layer-group.html

I hope what I have requested is possible.
Thanks again.

[2015-04-23 19:43] walkermatt commented on #11
@felipe84 It should be possible by overriding the `renderLayer_` method but it's not a feature that I'm inclined to add at the moment.

Cheers,

Matt.

[2015-04-23 20:21] felipe84 commented on #11
Thanks for tour reply.
Please if you have any tip or roadmap in order to implement it let me know because I'm a begginer in programming language.

[2015-06-08 02:49] kpurdon opened #13 "Consider Publishing on jsdelivr CDN"
This would allow users to easily include you library with simple HTML.

http://www.jsdelivr.com/
https://github.com/jsdelivr/jsdelivr/blob/master/CONTRIBUTING.md

I would be happy to do the necessary work if your interested.

[2015-06-10 10:19] walkermatt commented on #13
I'd be open to this especially as we're already tagging for Bower.

[2015-06-10 13:37] kpurdon commented on #13
I actually just found rawgit.com. For example here are the URLS:

https://cdn.rawgit.com/walkermatt/ol3-layerswitcher/v1.0.2/src/ol3-layerswitcher.js
https://cdn.rawgit.com/walkermatt/ol3-layerswitcher/v1.0.2/src/ol3-layerswitcher.css

It might be nice to add this information to the README.

[2015-06-10 16:06] walkermatt commented on #13
I've not used cdn.rawgit.com but it looks as though it provides an equivalent service to jsdelivr.com providing the repo contains tags (which ours does). There is a fairly prominent warning regarding availability at rawgit.com but I guess the same applies to both.

[2015-07-23 18:40] drupol opened #14 "Reverse order of layers."
Hello,

Why is the order of group reverted from its declaration ?

In the example you declare the Base maps group, then the Overlays group, but in the rendered map, it's first the Overlays then the Base maps group that are displayed in that order.

Would it be better to display them in the natural order of their declaration ?

[2015-07-23 19:34] walkermatt commented on #14
@drupol Hi, the intention is to display the layers in the draw order from a users perspective (overlays displayed at the top, base mapping below)

[2015-07-23 19:36] drupol commented on #14
Oh ok ! thanks for the explanation. In the meantime, I made a system in Drupal to allow users to reorder them as they want.

![openlayers-ol4-layerswitcher](https://cloud.githubusercontent.com/assets/252042/8860253/e0361426-3182-11e5-9861-4c1aefc816d3.jpg)

Thanks for your fast answer !

[2015-07-23 19:39] walkermatt commented on #14
Sweet, glad you where able to use the layer switcher :smile:

[2015-07-23 19:41] drupol commented on #14
I'll post a link to the demo when it's done :)

[2015-07-23 20:44] drupol commented on #14
Here it is: http://dev.through-my-eyes.be/openlayers_examples/openlayers_examples_map_ol3layerswitcher

[2015-07-23 20:44] #14 closed

[2015-09-16 15:47] zalf opened #15 "Collapse layer groups"
I like your layerswitcher very much. Would it be possible to collapse/uncollapse the groups of layers to have a more clean panel if I use many layers?

[2015-09-16 19:04] walkermatt commented on #15
It's something I'm considering. If I have a project that requires it I'll take a closer look. If you feel you'd like to implement it I'm open to contributions.

A few thoughts:
* I think it would make sense to make it an option.
* It might be possible in pure CSS, there are lots of examples about. Many seem to use a checkbox to determine if the branch is open which is probably not what we want as

[2015-09-17 09:27] zalf commented on #15
I agree with the thought that it should be an option.

A checkbox is for me the wrong control for this function. And clicking on the group's name, as often seen, is for my feeling not obvious to everyone. Maybe a symbol like ">" or "+" to click on left of the group name could do it.

In CSS I have not so much experiences jet, but I can try something.

[2015-09-19 15:13] walkermatt commented on #13
Now available here: http://www.jsdelivr.com/projects/openlayers.layerswitcher

[2015-09-19 15:13] #13 closed

[2015-09-22 11:07] isuftin opened #16 "Add functionality to decide whether to display a layer group in switcher"
I see from the source that the layer switcher decides at the layer level whether or not to display it based on if the layer has a title. It would be great if there could be a property of a layer group that tells the layer switcher whether or not to display the group itself.

[2015-09-22 12:02] isuftin commented on #16
I see that removing the title from layer group does what I am requesting here. Closing the request :)

[2015-09-22 12:02] #16 closed

[2015-09-29 12:59] pieterdhondt opened #17 "Add layer not selected"
How can I add an overlay layer to a group which is by default not selected?

[2015-09-29 15:10] pieterdhondt commented on #17
OK with the `visible` parameter of the Layer :-)

[2015-09-29 15:10] #17 closed

[2015-10-06 09:27] 1Map opened #18 "Vertical Scrollbar"
If we have a lot of layers the layer control's height is more than that of the map and the layer control cannot be scrolled down.  Do you maybe have an example of how this can be achieved?

[2015-10-13 12:48] walkermatt commented on #18
I've only briefly looked at this but it should be possible via CSS. Try something like:

    /* Make the main content element stretch
       to near the bottom of the map window */
    .layer-switcher {
        bottom: 2.5em;
    }

    /* Avoid the panel from growing taller than it's container and apply
       scrollbars if needed */
    .layer-switcher .panel {
        max-height: 100%;

[2015-12-15 23:35] debaser75 commented on #18
Thanks for the LayerSwitcher, Matt!  I've got this scrolling behavior working on Desktop (Chrome and Edge on Windows), but I cannot scroll on Android devices using both Chrome and Firefox.  I started the OL3 project using Boundless's Web App Builder (it looks like they've incorporated your LS in it!).  Then tried to implement your suggestions.  That did work on desktop, but not mobile.  Then I dow

[2015-12-18 08:27] walkermatt commented on #18
@debaser75 it's possible that we need something like this https://github.com/walkermatt/ol3-popup/blob/master/src/ol3-popup.js#L149 to handle scrolling on touch devices.

[2015-12-20 22:50] debaser75 commented on #18
Thanks.  I got the scrolling to work on Chrome and Firefox on Android using the css below.  But I tried adding it to the LS that gets created by Boundless's "Web App Builder" and it didn't work.  So there's progress, but I'm not of of the weeds yet.  But I thought I'd post this so others could use it.  The key was "position: relative"

.layer-switcher {
    position: absolute;
    top: 3.5em;

[2015-12-22 09:41] walkermatt commented on #18
@debaser75 Thanks for looking into this further. Can you post a link to the code for the layer switcher generated by the Boundless Web App Builder. I'm not entirely sure they are using this layer switcher.

[2015-12-30 02:29] stephankn opened #21 "Example not working due to mixed SSL content"
example fails when rawgit is loaded as https. This is due to trying to load openlayers as http.

Unfortunately OpenLayers is not served as https. So I propose to also host the openlayers css and js code as a copy and use a protocol independent URL in the example..

[2016-01-09 15:19] debaser75 commented on #18
Matt, I'm sorry for the delayed response.  The holidays happened and then a lot kayaking and then a job application.  The source code generated by the Boundless Web App Builder has comments that explicitly state that their layer switcher is based on your code.  You can download an entire web app generated by their builder here: https://goo.gl/uJ7Hex

[2016-01-09 16:41] walkermatt commented on #18
Sounds like fun ☺. Thanks I'll take a look.

I've been working on a solution which I'll push to a separate branch once I'm happy.

[2016-01-11 15:46] walkermatt commented on #18
I've pushed my work on making the panel scrollable to a [scroll branch](https://github.com/walkermatt/ol3-layerswitcher/tree/scroll), demo on rawgit.com: http://rawgit.com/walkermatt/ol3-layerswitcher/scroll/examples/scroll.html

The main changes are:
* The panel now displays a vertical scrollbar if required.
* The button is no longer displayed when the panel is shown to simplify layout when a scr

[2016-01-18 14:49] fipp opened #22 "Google layer with ol3-google-maps doesn't get radio button."
Hi! This issue was posted first here: https://github.com/mapgears/ol3-google-maps/issues/37. But after some thought I concluded that this is perhaps more of an ol3-layerswitcher question? Anyone. here it is:

Has anyone here used `ol3-layerswitcher` together with `ol3-google-maps`? For some reason the google layer doesn't show correctly in my layer switcher:

<img width="323" alt="screen shot 2016

[2016-01-18 17:53] walkermatt commented on #22
I'm pretty sure it's because `olgm.OLGoogleMaps` extends `ol.layer.Group`. I'll give it some thought...

[2016-01-19 08:24] fipp commented on #22
Looks like you're right. I've created a jsfiddle here illustrating the problem: https://jsfiddle.net/penn/swn6q0vs/

In ol3-layerswitcher.js, if I make this change I get it to work:
[code]

Meaning that the `getLayers` method of `lyr` has to return an non-empty array, otherwise `lyr` will be drawn as a simple layer, and not as a group. This change makes it work for me:

<img width="446" alt="scree

[2016-01-19 15:00] fipp commented on #22
So the issue at https://github.com/mapgears/ol3-google-maps/issues/37 has been further investigated, it's pretty much established that this is an ol3-google-maps issue. I guess there isn't any reason to discuss this matter further here, unless you have some suggestion on a smarter better way of hacking ol3-layerswitcher.js than the way I've described. If not, you can go ahead and close this issue

[2016-01-20 09:48] #18 closed

[2016-02-04 14:45] fipp opened #23 "My feature popup interrupts choosing a layer"
Hi!

Have a look at this video: https://v.usetapes.com/xQ94CHYuqE
Or this plunker: https://plnkr.co/edit/1DZhhT2SZFlGVCZJzeh7

As you can see, the `map.forEachFeatureAtPixel()` call inside `map.on('pointermove', function (evt) { ... })` detect my feature and display the tooltip, even though I'm hovering over the above-laying div to choose a layer.

Any advice on how I best can avoid this, aka disa

[2016-02-04 16:11] walkermatt commented on #23
Hi,

Looking at it briefly I'm not sure there is anything a control can do to avoid this behaviour as the `pointermove` event appears to be fired when the mouse is within the map regardless of any overlays or controls. Looking at the event object `evt` it looks like you might be able to use the `evt.browserEvent.target` property which appears to be a reference to the DOM element that the mouse is

[2016-02-05 08:26] fipp commented on #23
Inspired by your advice, I fixed it this way: When the `pointermove` listener callback finds a feature in the map, it will only show the feature tooltip if none of the ancestors of `evt.originalEvent.target` contains a class called `layer-switcher`.:

[code]

Because of some other overlays, it wasn't a good solution for me to only show tooltips when `evt.originalEvent.target` is the map canvas.

[2016-02-05 18:25] walkermatt commented on #23
Great, glad you found a solution :smiley_cat:

[2016-02-05 18:25] #23 closed

[2016-02-20 13:57] johnrogers4 opened #24 "More of a trivial issue.."
Hey, I was just wondering if you knew how to set overlays to have a default setting of not being displayed on the map until they are selected, as in they are unchecked by default, if you get me.

I have 4 overlays and they display on top of eachother, I'm new to openlayers and there's not a lot of people I can go to for advice, so I looked at your project and it seems to have what id like here but

[2016-02-20 19:20] walkermatt commented on #24
Hi John, if I understand you correctly I think you need to set the `visibility` property of the layer that you don't want to be shown by default to `false`. See [this example](https://github.com/walkermatt/ol3-layerswitcher/blob/master/examples/layerswitcher.js#L25).

[2016-02-21 16:14] johnrogers4 commented on #24
Hey Matt, thanks for the reply. I'm using a GML layer, with KML format. Is there a way to apply that visible property in this case? It seems the documentation for a lot of these layers aren't online anymore! Here's what I am using in my code anyway.

[code]

[2016-02-21 20:56] walkermatt commented on #24
I'm pretty sure the code you've posted is from OpenLayers 2. Quite a lot
changed in version 3, you can find an example of loading a KML source in
ol3 here: http://openlayers.org/en/v3.7.0/examples/kml.html.

To hide the layer in the KML example by default you need to add a `visible`
property with a value of `false` to the `ol.layer.Vector` options object.
On 21 Feb 2016 4:14 pm, "johnrogers4" <not

[2016-02-22 17:09] johnrogers4 commented on #24
Thanks a lot Matt I got that sorted! I added setVisibility = false before adding it to the map. (I deleted the question bc I figured it out after I posted it!)

If you don't mind I have one last question that is im trying to display the contents of user uploaded files onto the OpenStreetMap. So far I have a php file that takes the name, type and size of the user's file and stores it locally in a m

[2016-02-22 17:11] olivierdalang opened #25 "[feature] Visual hint for maps that are not visible because of min/max resolution"
Hi !

It is very common to limit a layer to certain resolutions using their min/max resolution settings.

Layerswitcher doesn't take that into account, so that a layer that's not visible because of min/max resolution setting still appears in the layer list. This is very counter-intuitive.

I think that the layers that are not visible due to min/max resolution should either:
- A. not be displayed a

[2016-02-22 17:17] olivierdalang opened #26 "[feature] save layers visibilities"
Hi !

In my application, I want the displayed layers to be saved across pages, so that the user doesn't have to repick all layers he wants to see. I guess it's a pretty common scenario.

I quickly implemented it using cookies, see here :

https://github.com/olivierdalang/ol3-layerswitcher/tree/visbility_in_cookie

It's not finished though :
- saving should be optional,
- currently there's no names

[2016-02-22 20:44] walkermatt commented on #24
Cool, glad you've got it working :+1:

I'd try https://gis.stackexchange.com/ for your other question. Be sure to include details of the format of the user data and maybe an expand on the use case (do you need to store the users data on your server or simply display it when it's uploaded for example?).

[2016-02-25 06:04] ismailrafi opened #27 "IIS and Geoserver"
i want to access published layers through IIS but am facing the problem with REDIRECTING the URL

my domain on IIS is like this http://maps.icrisat.org
and the layers which i have published  using http://localhost:8080/geoserver/wms...

when open my website i will be selecting a link which points to geoserver layers using  javascript file in that i will be calling all layers but it is not displayi

[2016-02-25 10:51] holimatic commented on #21
Hi
Instead of using openlayer.js you can use
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ol3/3.13.1/ol.min.js"></script>
for https:

[2016-02-25 12:33] holimatic opened #28 "Button disappears when mouse over"
Hi Matt
As I can see in the example your layerswitcher would exactly full fill my needs.
I implement according your example and the source javascript code of ol3-layerswitcher,js and ol3-layerswitcher.css in my website. My layer definition is according your addlayer,js. I wouldlike to have something similar like 'view the example on RawGit'. Unfortunately I get the button on the map but as soon as

[2016-02-26 10:20] #21 closed

[2016-02-26 10:23] walkermatt commented on #21
@holimatic thanks, I've chosen to simply load ol3 via https after reading the update here: http://www.paulirish.com/2010/the-protocol-relative-url/

[2016-02-26 10:25] walkermatt commented on #21
The demo WMS overlay from @boundlessgeo is only available under plain http so you still get some mixed content warnings if accessing the examples via https://rawgit.com/ but I think I can live with that for now.

[2016-02-26 10:27] walkermatt commented on #28
Can you post a link showing the issue? Also did you check the console in the dev tools in your browser to see if there are any errors shown?

[2016-02-26 10:29] walkermatt commented on #27
Hi, I think you might be better asking this question over at https://gis.stackexchange.com/ where someone might be able to help you with proxying the requests to GeoServer via IIS.

[2016-02-26 10:29] #27 closed

[2016-02-26 10:29] #24 closed

[2016-02-26 10:32] walkermatt opened #29 "Test against latest ol3 release"

[2016-02-26 11:32] holimatic commented on #28
Thanks for replay.
Meanwhile I was able to solve the problem. I had to rename both files into ol3-layerswitch. css and ol3-layerswitch.js and it works now as expected. However I don't know why.

[2016-02-26 11:32] #28 closed

[2016-02-27 08:27] walkermatt commented on #29
Upgraded to v3.14.0 in b4069c6ffca8de7a78c79f5a68ed836dfca36680

[2016-02-27 08:27] #29 closed

[2016-02-28 18:58] HamHamFonFon opened #30 "Add listener on selected layer"
Hi,

First, thank you for your plugin, it's very usefull for my application :).
I'm wondering if it's possible to add a feature getting the selected layer. I'm developping a plugin for drawing on a map and i need to know which layer to draw on it.
Is-it possible to add an eventListener when the user select a layer by radio button and return the selected layer ?
Or I can try to develop it for my pe

[2016-02-29 10:06] walkermatt commented on #30
Hi, I don't think you need an event from the layer switcher for this as ol3 layers dispatch a `change:visible` event. Try something like the following to add an event listener to each layer in the map which simply logs the layer `title` and it's visibility:

    // Add a `change:visible` listener to all layers currently within the map
    ol.control.LayerSwitcher.forEachRecursive(map, function(l,

[2016-02-29 10:13] walkermatt commented on #26
Hi, I think this should probably be done outside of the layer switcher. Sounds like you might have the start of a small map state library :smile:.

[2016-02-29 10:17] walkermatt commented on #25
Hi, I like the idea of option B, can you update one of the examples in your `show_only_if_visible` branch  so I can see it in action?

[2016-03-01 14:02] vadp opened #31 "input element id at ol.control.LayerSwitcher.prototype.renderLayer_"
Currently generated input element id is mangled by idx parameter:
```var lyrId = lyr.get('title').replace(/\s+/g, '-') + '_' + idx;```

This doesn't work well is there are 2 maps with the same set of layers: in the 2nd map  ```label.htmlFor``` will refer to the input element of the 1st map as generated input element id is the same for the both maps.

This makes a funny effect: when you click at th

[2016-03-02 11:12] HamHamFonFon commented on #30
Thank you for your answer, I try it and it's ok for me :).

[2016-03-03 07:59] #30 closed

[2016-03-03 18:48] #26 closed

[2016-03-03 18:55] walkermatt commented on #31
Thanks for reporting this, I had a brief look this morning and have been able to reproduce. I'm going to add some tests then look at a fix along the lines you suggest :thumbsup:

[2016-03-07 09:37] #31 closed

[2016-03-07 15:29] ri0t commented on #15
I totally second that, as one of the projects i work on needs that. I've already begun work, but i'm trying to use bootstrap's collapse and it doesn't seem to work quite well.

If you're interested to see what i did so far and would like to helpout, i could post a gis or fork this and do a PR..
(I also added a bunch of other features, like a searchfield and a legend)

[2016-03-07 15:30] ri0t commented on #15
Oh, actually it kinda works, but somehow interferes with the layerswitcher button collapse, apparently.

[2016-03-07 15:46] ri0t commented on #15
![ol3-ls-collapse](https://cloud.githubusercontent.com/assets/1938065/13574365/10a35dda-e484-11e5-82e4-a8d8ae1c60be.gif)

Note: the transparency mis-effects are due to gif compression

[2016-03-07 16:27] ri0t commented on #15
Actually i got this running. Just switching the hidden classes for the subpanels

[2016-03-07 17:53] walkermatt commented on #15
Cool would love to see the working version.

I'd like to avoid Bootstrap as a dependency but we could maybe add an example to show how it can be done using Bootstrap?

[2016-03-10 06:54] holimatic opened #33 "Get and set actual layer type by ID or so"
Hi Matt,

I've successfully implemented your layerswitcher.
However I would like to know how to get and set the actual layer using an ID or something else in order to save the actual layer type. I was not able to find anything. How is that possible?

Second question how can I checkmark automatically the overlay when I using sat view and back by select any other layer. Must be done by using visible

[2016-03-11 20:53] walkermatt commented on #33
Hi, this feels like a similar situation to #30 where I think the best approach may be to interact with the layer instances directly and listen to the appropriate events despatched by Details of the events dispatched by ol.layer.Base

[2016-03-11 21:01] HamHamFonFon commented on #30
For example, here : https://github.com/HamHamFonFon/kurtogaphy/blob/master/public/src/openlayers.js line 129 :)

[2016-03-12 13:12] holimatic commented on #33
I'm able now to see the selected layer in the console but how do I set the overlays (Themes) to checked and back.
// Add a `change:visible` listener to all layers currently within the map
ol.control.LayerSwitcher.forEachRecursive(map, function(l, idx, a) {
  l.on("change:visible", function(e) {
    var lyr = e.target;
    if (lyr.getVisible() == true) {
      console.log(idx,' ',lyr.get('title'),l

[2016-03-12 13:12] holimatic commented on #33
`// Add a `change:visible` listener to all layers currently within the map
ol.control.LayerSwitcher.forEachRecursive(map, function(l, idx, a) {
  l.on("change:visible", function(e) {
    var lyr = e.target;
    if (lyr.getVisible() == true) {
      console.log(idx,' ',lyr.get('title'),lyr.getVisible());
      if (lyr.get('title') === 'SatelliteView') {
        console.log(idx,' Themes -> setVisibl

[2016-03-12 15:05] holimatic commented on #33
Well, I get a solution don't if it's nice or not but it works.
First of all I separate the tile to ovlSubject
[code]
and then I could have access to this setVisible
[code]
and finally I need to check if idx is > 0 because SatelliteView layer and ovlSubject has the same idx=0. However now it works for me, but as I said not sure if that is a correct solution or not.

[2016-03-13 20:45] #33 closed

[2016-03-14 16:17] tomchadwin opened #34 "Higher z-index?"
OSMBuildings layers (https://github.com/kekscom/osmbuildings) are obscuring the layerswitcher for me. Is a higher z-index an option? Don't ask me for a value - I don't know what OSMBuildings can reach.

[2016-03-14 19:33] walkermatt commented on #34
Do you have a link to a demo?

[2016-03-23 13:30] Saurbaum opened #35 "Grouping base layers"
The traditional way to produce a satellite map with roads in MapQuest is to make a sat layer and a road layer.

I can't seem to group these together in a single entry using layer switcher.  Either they appear as independent base layers or the roads would become an optional overlay (which makes the hybrid option redundant along side the satellite layer)

[2016-03-24 08:22] walkermatt commented on #35
This also came up in #22, I'm wondering if we need the ability to say that a given layer group should be rendered as a layer.

[2016-03-24 08:36] Saurbaum commented on #35
As a novice openlayers user I would say that makes sense to me as that was the first thing I tried to do.

[2016-04-14 19:34] walkermatt commented on #35
Resolved by #36.

[2016-04-14 19:34] #35 closed

[2016-04-14 19:37] walkermatt commented on #22
It's now possible to collapse a group so it's displayed as a regular layer, see #36.

[2016-04-14 19:37] #22 closed

[2016-06-13 14:42] sadjehwty opened #38 "Event on group label click"
I have some nested layer groups.
I need to make visible all layers in subgroup when i click on group label.
I try to use jquery call $('.layer-switcher li.group>label').click(....); but when I click on label than handler wasn't fired.
What wrong?

[2016-06-14 08:46] walkermatt commented on #38
Hi, It's probably due to the panel content being recreated each time the panel is shown. Try using https://api.jquery.com/on/ which is well suited to this situation as it allows you to add the listener to a parent element and have the handler function triggered when the event occurs on a child which matches a give selector. This works for me:

    jQuery('.layer-switcher').on('click', 'li.group>la

[2016-06-14 14:14] sadjehwty commented on #38
Thank you

[2016-06-14 14:14] #38 closed

[2016-06-22 08:19] sadjehwty opened #39 "Open onclick not onmouseover"
It's possible open layerswitcher menu only on mouse click event instead of mouse over event?

[2016-06-23 19:25] ri0t commented on #15
In the meantime, i had to rewrite the whole hiding capability with jquery, because the clients needed very specific stuff going on.

[2016-06-24 20:41] walkermatt commented on #39
There's no official method of doing so but you should be able to get a reference to the button and overwrite it's `onmouseover` event handler which should do the trick.

[2016-07-04 15:55] sadjehwty opened #40 "run code on switcer shown event"
It's possible add handler to execute some code when switcher panel is shown?
I tried with
`$('.layer-switcher').mouseover(function () {
  setTimeout(function () { console.log('shown'); }, 10);
});`

but it isn't exactly the same thing

[2016-07-04 18:31] walkermatt commented on #40
I'm wondering if we should be considering adding some events but in the meantime you could hook into either the `showPanel` or `renderPanel` methods something along the lines of:

    // Where `layerSwitcher` is an `ol.control.LayerSwitcher` instance
    layerSwitcher.renderPanel = function() {
        console.log('renderPanel');
        // Call the original renderPanel function passing the instan

[2016-07-06 11:56] lboskovic opened #41 "[0]"
[deleted]

[2016-07-20 09:03] nformica opened #42 "Internet Explorer problem"
It seems that layerswitcher does'nt work in MS Internet Explorer !
Do you confirm it ?

Cheers !
Nino

[2016-07-20 10:52] #41 closed

[2016-07-20 10:54] walkermatt commented on #42
@nformica can you provide some more information please such as:

1.Are you saying that the [examples](https://github.com/walkermatt/ol3-layerswitcher#examples) don't work?
2. If so which version of IE?
3. Can you open the IE developer tools and tell me what's in the Console?

[2016-07-20 10:55] #11 closed

[2016-07-20 10:56] swalterfub commented on #15
Is there still someone interested in this? We have implemented it in pure JS without dependencies, only font-awesome for the icons...

[2016-07-20 10:57] walkermatt opened #43 "Remove MapQuest layers from examples"
MapQuest no longer allow direct tile access :disappointed:

[2016-07-20 11:44] thomasschmiedl opened #44 "ol3-layerswitcher customization for Cesium.JS"
I try to use ol3-layerswitcher in combination with Cesium.JS (example page: http://openlayers.org/ol3-cesium/examples/sidebyside.html). What customization is needed?

[2016-07-20 11:54] nformica commented on #42
1. yes, examples don't work: layerswitcher panel appears, but you can not select layers (basemaps or overlays is the same)
2. IE 10 (10.0.9200.17609
3. In the console nothing ! No alert or error

[2016-07-21 09:13] nformica commented on #42
@walkermatt I checked with IE 11 and  it's all right !

[2016-07-21 09:31] walkermatt commented on #42
@nformica thanks for the info :+1:

I suspect it might be an issue with ol3, the examples are using an old version of ol3 at the moment, I'll update and ping you to retest if that's OK?

[2016-08-02 09:04] #43 closed

[2016-08-02 09:06] #40 closed

[2016-08-02 09:06] #39 closed

[2016-08-02 09:19] walkermatt commented on #42
I've updated the examples to use the latest ol3 release (3.17.1), would you mind testing again on IE 10?

[2016-08-03 07:22] nformica commented on #42
@walkermatt
I tested your updated examples with IE10, but the problem there's still !!
I attach a screen-record, so you can see what appens.

Anyway IMHO it's not important, because IE10 is  an older version !

[2016-08-05 02:55] ThomasG77 commented on #42
Maybe it's unrelated but try to add the script below (an excerpt from [simple example](http://openlayers.org/en/master/examples/simple.html))

[code]

[2016-08-16 20:49] walkermatt commented on #42
@ThomasG77 thanks, I think that's got it. I've just updated the examples and tested on IE9 and IE11.

[2016-08-29 22:10] homeandr777 opened #45 "When I deselect a Layer, it is only hides the CSS, but the layers is in RAM"
Hello,

where should I do layersxxxx.clear()?
For selected layers too? selectedlayers.clear();
So in which function do you hide css, there should be the layers cleaning from the ram,
Becouse if I deselect one layer, and I do Dragbox selection that deselceted layers comes in as selection.

With best regards

[2016-09-01 19:18] walkermatt commented on #45
@homeandr777 when a layer is hidden by the switcher it's visibility is set via it's [`setVisible`](https://github.com/walkermatt/ol3-layerswitcher/blob/master/src/ol3-layerswitcher.js#L144) method.

Looking at the docs for [`ol.interaction.Select`](http://openlayers.org/en/latest/apidoc/ol.interaction.Select.html) it looks as thought only visible vector layers are queried providing the `layers` an

[2016-09-01 19:18] #45 closed

[2016-09-01 22:31] homeandr777 commented on #45
http://openlayers.org/en/latest/apidoc/ol.interaction.DragBox.html

I am using DragBox selection, and I am working with geojson files, after selection of the layer, when I make selection with DragBox, and when I deselect the layer, all not selected features is gone, all selected features DragBOX with yellow color stayed.
Sadly  I can not upload pictures.
So I am using a variables for selected feat

[2016-09-01 22:35] homeandr777 commented on #45
var select_layer;

select_layer= new ol.interaction.Select({
    multi:true,
    style: styleFunction
});

[2016-09-02 07:41] walkermatt commented on #45
If you only want to include features from visible layers then check the layer visibility before adding them to the `selectedFeature` collection.

[code]

[2016-09-02 12:31] homeandr777 commented on #45
I find the the way to uploads the pictures. Just for example I have done pictures somewhere on Openstreetmap.

The checking with your methode working but now, there is another Problem.
overlayGroup.getProperties().layers.array_[3].values_.visible
I want to write a methode to get everytime the right layer to be checked, now I have not any idea how can I do it (write such a function). But this is an

[2016-09-19 08:59] walkermatt commented on #45
Each layer dispatches a `change:visible` event when it's visibility changes, see: https://github.com/walkermatt/ol3-layerswitcher/issues/30#issuecomment-190136675

[2016-09-19 09:17] walkermatt commented on #44
@thomasschmiedl have you tried adding the layerswitcher to that example?

I'd expect you would need to:
* add the JS and CSS from `src` to [sidebyside.html](http://openlayers.org/ol3-cesium/examples/sidebyside.html)
* in [sidebyside.js](http://openlayers.org/ol3-cesium/examples/sidebyside.js)
    * add [`title`](https://github.com/walkermatt/ol3-layerswitcher/blob/master/examples/layerswitcher.js#

[2016-09-19 09:17] #44 closed

[2016-09-19 09:18] #42 closed

[2016-10-25 11:32] thomasschmiedl opened #46 "ol3-layerswitcher integration in ol3-sidebar"
Hello,

could someone integrate the layerswitcher in [this ol3-sidebar](https://github.com/Turbo87/sidebar-v2/blob/master/examples/ol3.html). Thanks for help.

[2016-10-25 21:05] walkermatt commented on #46
@thomasschmiedl I've not looked at the sidebar before. What have you tried so far?

[2016-10-25 22:26] thomasschmiedl commented on #46
I'm not a web-developer. It's only an idea to integrate the layer-switcher in the sidebar.

[2016-10-27 10:02] infostar31 commented on #46
Hi,
I am trying to display the panel of the ol3 Layerswitcher in a sidebar outside in addition to the the button inside the map, but it doesn't work with me, I don't know where is the problem;
in the JS :
`   map.addControl(new ol.control.LayerSwitcher());
    map.addControl(new ol.control.MousePosition({
                    undefinedHTML: 'Coordonnees',
                    projection: 'EPSG:4326'

[2016-11-08 20:30] AndyColson opened #47 "add to custom build"
Following [the doc on custom builds](http://openlayers.org/en/latest/doc/tutorials/custom-builds.html) works ok, until I try to include the layerswitcher.

In my custom.json file, I added:
[code]
and in the exports I added "ol.control.LayerSwitcher".

The compile errors:

I tried to add ol3-layerswitcher.js to the extern as well as the js, neither work, I get the same error.

If I dont add "ol.con

[2016-11-08 20:37] AndyColson commented on #47
Oh, I almost forgot, setVisible_'s comments needed fixed:

~ line 140

[2016-11-09 20:04] walkermatt commented on #47
Hi, I've not created a custom build which includes code from outside the core OL3 code base before. Where is the use of a `"js"` key in the build config json documented?

[2016-11-09 21:54] AndyColson commented on #47
In the custom build docs, section "Other compiler options", says:

I don't really understand the js vs extern difference.  In samples on [this page](http://openlayers.org/en/latest/doc/tutorials/closure.html) they have the olx.js and oli.js in 'js' instead of 'extern', I have no idea why.

[2016-11-30 21:09] bmorrison-ntelx commented on #15
If you don't mind I would like to check out your code as I have a need for this in a project I am currently working on and would prefer not to have to re-invent the wheel.

[2017-01-02 06:31] akshayvasishth opened #49 "Use with requirejs"
@walkermatt Could you please provide an example on how to load this library using requirejs.
I get undefined object when i try to do so:-
require(["./ol3-layerswitcher"],function(layerSwitcher){ }

[2017-01-03 10:23] walkermatt commented on #49
I'm not sure, I'd like to figure it out myself :smile_cat: so that I can verify the changes in @francbartoli's pull request #48

Do you have a basic project that you could share (as a gist or similar) which I could take a look at?

[2017-01-04 11:21] filippomargiotta commented on #15
In my company we have QGis projects with hundreds of Layers. At the moment the only way to use the layerswitcher is to create hierarchical layerGroups and layers inside them, which result in one request for each layer selected or unselected, plus in the beginning when the map is rendered there will be hundreds of request because the layers are managed one by one.
I would like to have a LayerSwitch

[2017-02-28 10:25] danieltulp opened #52 "Compatibility to OpenLayers 4"
Is this compatible to OpenLayers 4? Possibly it is, so check it out. https://github.com/openlayers/openlayers/releases/tag/v4.0.1

[2017-03-01 16:14] walkermatt commented on #52
Hi, yes I full expect compatibility with ol4, see [the v4.0.0 release notes](https://github.com/openlayers/openlayers/releases/tag/v4.0.0) for details of the new version scheme.

I'm considering renaming ol3-layerswitcher and ol3-popup to ol-layerswitcher and ol-popup and providing support for both [OpenLayers as ES2015 modules](https://www.npmjs.com/package/ol/) as well as `require` and the curre

[2017-03-02 12:14] nformica opened #53 "Get selected layer group title"
Referring to issue #30 (Add listener on selected layer) , how can I get group "title" of selected layer ?

Regards
Nino

[2017-03-02 16:55] walkermatt commented on #53
I don't think that OpenLayers `ol.layer.Layer` instances provides a reference to the parent group so I think you'd have to maintain information about the relationship yourself. Try something like this:

    // Add a 'parent' property of each child layer which is a reference to the
    // ol.Layer.Group that it belongs to
    function addParent(parentLyr) {
        parentLyr.getLayers().forEach(fun

[2017-03-03 11:06] nformica commented on #53
Wonderful ... it works!

many thanks
Nino

2017-03-02 17:55 GMT+01:00 Matt Walker <notifications@github.com>:

[2017-03-03 16:27] #53 closed

[2017-03-06 10:50] #52 closed

[2017-03-09 12:37] fredj commented on #52
@walkermatt when renaming the projects to ol-*, don't forget to update this page:
http://openlayers.org/3rd-party/

(https://github.com/openlayers/openlayers.github.io/blob/build/src/pages/3rd-party/index.hbs)

[2017-03-14 17:06] livadiotis opened #54 "Safari not working"
the layerswitcher does not work in safari.
The radio button (basemaps) as also the layer selection (check box) can not be changed when the map is accessed using safari browser
I do not own an OS device to locate the error

[2017-03-16 07:26] walkermatt commented on #54
Hi, can you provide some more detail such as:

* which version of Safari?
* on desktop, phone or tablet?
* which OS?
* what's the URL are you seeing the issue with?
* can you provide a screenshot?

[2017-03-22 19:39] TOMASSTA opened #55 "WMS GetFeatureInfo (Tile Layer) in Layerswitcher still ON even after unchecking layer in switcher"
Hi Matt,

first of all, thanks a lot for this great LayerSwitcher !
Also, sorry for my english, not my mother tongue...
Last, I'my js skills are VERY limited as I started a few month ago.

I'm loading a wms layer in my project, and I trigger WMS GetFeatureInfo requests on click events (in a popup). It works, but when I uncheck the layer in the swicther, it still triggers the GetFeatureInfo, and op

[2017-03-22 20:03] #55 closed

[2017-03-22 20:26] walkermatt commented on #55
Hi, looks like you might of found a solution but in case others have the same question I'd suggest checking the visibility of each layer before getting info via [`ol.layer.Base#getVisible`](https://openlayers.org/en/latest/apidoc/ol.layer.Base.html#getVisible).

[2017-03-23 13:47] TOMASSTA commented on #55
Hi Matt,
this is exactly what I've done.
Thx

[2017-03-25 10:56] livadiotis commented on #54
Since i do not own an OS device i tested it with friends OS phones (iphone6) and MacBook.
It seems not to be working only on iphones (Safari). It worked with MacBook (Safari)
the website is http://maps.palsurveying.com
The demo versions that you have on github work with iphones as also with Macbook.
So i guess somewhere my code  breaks the layerswitcher only in iphones.
I would do further testing

[2017-03-25 19:44] walkermatt commented on #54
Thanks for testing, I'll close this for now but feel free to add any further info if you uncover anything 👍

[2017-03-25 19:44] #54 closed

[2017-03-25 19:46] walkermatt commented on #25
Implemented recently thanks to @RobertOrthofer 🎉

[2017-03-25 19:46] #25 closed

[2017-03-30 15:34] TOMASSTA opened #57 "Tooltip on layer hover in the layerswitcher"
Hi Matt,

is there a way to ad a tooltip on mouse hover in your layerswitcher (like in this page)?

http://sigeom.mines.gouv.qc.ca/signet/classes/I1108_afchCarteIntr#

regards,

Tom

[2017-03-30 16:23] walkermatt commented on #57
Hi, no the layerswitcher doesn't provide support for that sort of tooltip with info about a layer. You might be able to implement it yourself by adding appropriate handlers to the `label` elements but I don't expect adding this functionality to the layerswitcher itself ATM.

[2017-03-30 16:23] #57 closed

[2017-06-02 13:55] sookoll opened #58 "Layer opacity slider"
I created a fork with layer opacity sliders:
https://github.com/sookoll/ol3-layerswitcher

Demo: https://jsfiddle.net/u5ucn87f/

If there is need for that, I can create a pull request.

[2017-06-04 13:27] walkermatt commented on #58
Hi, Just had a look at [the opacity slider example](http://rawgit.com/sookoll/ol3-layerswitcher/master/examples/opacity_slider.html) and I like it. My initial thought is that it might be nice if it was a per layer option.

@ThomasG77 , @tomchadwin thoughts?

[2017-06-05 08:51] tomchadwin commented on #58
A big +1 from me. It's been requested, and its use is obvious. Plus, Leaflet can't currently do it (though it's fixed in master):

https://github.com/Leaflet/Leaflet/issues/5116

[2017-06-05 08:54] walkermatt commented on #58
@tomchadwin any preference as to whether it should be enabled globally for all layers or enabled for individual layers?

[2017-06-05 08:56] tomchadwin commented on #58
Per-layer, I'm afraid. It makes most sense for rasters/basemaps and filled polys, less so for points/lines, so having it on-demand rather than throughout is probably what's needed. What do you think?

[2017-06-05 08:58] Saurbaum commented on #58
To chip in on the matter.

Per layer but also some way to turn it on or off in code so I can limit it to not being available for a the base layers should I want.

@sookoll Does it pick up a configured opacity on the layer if it's already at 50% and set the slider accordingly?

[2017-06-05 09:05] sookoll commented on #58
Yes, same manner as layer visibility. In that sence, per layer configuration would be natural choise. Current solution (global setting) was just first obvious solution for my need.

[2017-06-05 09:16] tomchadwin commented on #58
To clarify my point, yes, per-layer, but also, as @Saurbaum says, the default should be for the slider not to show for a layer, but it could be enabled as an option.

[2017-06-05 09:28] sookoll commented on #58
A quick fiddle for demonstration: https://jsfiddle.net/u5ucn87f/
I think I can push it further and implement also per-layer configuration. Per-layer configuration as layer property in third party library is a bit dangerous way. What if ol Feature API changes and take same property into use, or user already use this property for some purpouse, etc. So any suggestion about property name would be wel

[2017-06-05 09:31] tomchadwin commented on #58
@sookoll Are you warning about creating a new property for the `layer` object in core OL? I was thinking rather that there should be some way of passing per-layer config into the layerswitcher.

[2017-06-05 09:40] sookoll commented on #58
I meant currently it already depends custom layer properties like "title". If no title, then no layer in layerswitcher, right. To keep same logic, I assume that we take another property into use. It would be straightforward but it might conflict to some other libraries (as also "title" currently). Passing in configuration as reference to layers is not so straightforward and more difficult to imple

[2017-06-05 09:52] tomchadwin commented on #58
OK, so two possible quite "safe" options:

1. Namespace our layer options = `layerSwitcher_title`, `layerSwitcher_opacityslider` etc

2. As I suggested (but it s fundamental change to layerswitcher), pass layer config in when you instantiate the layer switcher:

[code]

This would allow removing the requirement for the `title` property in layers, as it could be added as a property passed when inst

[2017-06-22 04:21] WillieMaddox opened #59 "repo npm sync?"
After running, `npm install ol3-layerswitcher`, the `node_modules/ol3-layerswitcher/package.json` reads (only the relevant parts are printed here for brevity),

[code]

Looks like the version is up-do-date, but the dependencies aren't in sync with the most recent commits (openlayers still points to `3.x.x` and the keyword still says `ol3` rather than just plain `ol`. There are other places with di

[2017-06-28 10:26] walkermatt commented on #59
@Renaud009 I've just tagged the latest version of ol3-layerswticher, could you please update https://www.npmjs.com/package/ol3-layerswitcher. I'd be happy to take ownership of the package on npm and maintain it from now on.

[2017-07-26 06:38] tolotos-rgu opened #61 "List the layers of a WMS"
Hi, is it possible to list the "internal" layers of a WMS configuration to switch them separately on and off?
e.g.
[code]

Should create

[code]

[2017-07-31 08:49] walkermatt commented on #61
Sorry this isn't supported at the moment, the layer switcher works at the OpenLayers group/ layer level.

[2017-07-31 08:49] #61 closed

[2017-08-15 10:14] tomchadwin opened #62 "Nested groups"
Are nested groups supported? Apologies if I've asked this before, but I couldn't see it in the issues.

[2017-08-17 15:42] SFPink commented on #58
Great fork, this is exactly what I was looking for.

What was the final conclusion on the per layer opacity toggle?

[2017-08-18 09:38] SFPink commented on #58
I have hashed together working example of @tomchadwin idea so the Layer Switcher can work as he suggested, I can fork this project if anyone is interested:

`var layerSwitcher = new ol.control.LayerSwitcher({
    tipLabel: 'Légende' // Optional label for button,
    layers: [
        {layer: layer1,
         title: '<img src="path/to/layer1KeyIcon.png" alt="Layer 1 title" /> Layer 1 title',

[2017-08-18 09:41] tomchadwin commented on #58
Sounds great to me, but I don't know if it's too big a change for @walkermatt to consider. If you are prepared to fork so we can see it in action, we could judge. And thanks!

[2017-08-18 09:42] SFPink commented on #58
Personally I think the change is too much. But I will happily create a fork.

[2017-08-18 09:54] tomchadwin commented on #58
Interesting. You don't think the benefits justify it?

- stop adding own properties to OL core object (so avoid risk of naming conflict in the future, as @sookoll said)
- better decoupling of the layer switcher from the layers
- enables this issue's aim (per-layer opacity sliders)
- great flexibility to add future properties if required

[2017-08-18 10:08] SFPink commented on #58
I think it's a great addition don't get me wrong and your points are very valid. My only issue personally is that there is no legacy support, not that it affects me.

Here's my fork: https://github.com/SFPink/ol3-layerswitcher

I put this together this morning whilst half asleep, let me know if you discover any issues. I currently have this working in one of my projects.

I've also added an onOpac

[2017-08-19 09:15] seema30fresher opened #63 "Enable and disable parent layers as well as child layers"
I have used ol3-layerswitcher,I wan't to enable parent layer checkbox at that time all child layers checkbox get enable and vise versa.If some child layers are disabled and i enable parent layer then all child layers should be enable.I tried little bit code with html check boxes and JS  but my code not working properly and code is too big .Please find this [http://uxo.azurewebsites.net/webmap/Inde

[2017-08-22 09:57] seema30fresher commented on #63
Please help me anyone to solve this problem.

[2017-08-24 07:43] SFPink commented on #63
Is this what you are after: https://github.com/walkermatt/ol3-layerswitcher/pull/60

[2017-08-24 08:27] seema30fresher commented on #63
Not exactly but on similar line, Whenever we enable parent all child will enable and vice versa as well as when i disable any one child and enable parent then all child has to be enable. like suppose i have parent with 10 child whenever i have disabled couple of child (lets consider 4) parent layers will show disabled as its not fulfilling condition of all child enabled now i directly enable paren

[2017-08-24 20:18] walkermatt commented on #62
The good news is that currently nested groups are supported:

![nested](https://user-images.githubusercontent.com/600349/29686631-a4a86bbe-8911-11e7-99ad-fff926132053.png)

The bad news is that #60 doesn't currently work well with nested groups.

[2017-08-24 20:20] walkermatt commented on #59
@Renaud009 would you be able to update https://www.npmjs.com/package/ol3-layerswitcher with the latest version?

[2017-10-05 10:52] geraldo opened #65 "Exclusive overlay layers"
I have overlay layers which need to be mutually exclusives, additionally to some base layers.

There is a [solution](https://gis.stackexchange.com/questions/60733/how-to-make-the-overlays-in-openlayers-exclusives-using-events-at-checkbox-level#61020) for plain Openlayers, but I can't get it to work using ol3-layerswitcher.

I also tried setting layer.setVisible(false) to false after a "change:visi

[2017-10-09 09:29] walkermatt commented on #65
@geraldo while not supported within the layerswitcher itself. The following based on your code above should do the trick

    // NOTE exclusiveOverlays is an Array of ol.Layer

    ol.control.LayerSwitcher.forEachRecursive(map, function(l, idx, a) {
        l.on("change:visible", function(e, react) {
            if (e.target.getVisible()) {
                enforceExclusive(exclusiveOverlays, e.tar

[2017-10-09 10:39] geraldo commented on #65
Thanks @walkermatt, that saved my day!

Only a note for people adding this code: On defining the layer, layer option visible has to be set to true (as default) to make exclusiveOverlays[0] initially visible.

[2017-10-09 10:39] #65 closed

[2017-11-13 00:40] zwnk opened #66 "get radio button event"
Hi there,

I started to playing around with openlayers and your ol3-layerswitcher project.
Please excuse my lack of knowledge regariding js i thought i maybe you could give me an answer.
I created a map where beside some dynamically loaded layers 2 base layers are present.
BingMaps Aerial and openstreetmaps are those. Due to the nature of the Aerial imagery i switch it off depending on the zoomlev

[2017-11-14 07:56] walkermatt commented on #66
See https://github.com/walkermatt/ol3-layerswitcher/issues/30#issuecomment-190136675 which I think should help.

[2017-11-14 07:56] #66 closed

[2017-11-17 21:30] umbe1987 opened #67 "Intercepting layer checkboxes and basemap radios separately to use in custom divs"
Hi,
First of all, thanks for this useful project!
I'd like to know if there's a way to intercept the layers and basemaps buttons before they got placed in the layerswitcher panel.
What I'd like to do with those is placing them in two different containers respectively.
I've looked at the code but I am not as expert to intercepting them without a help.
My final aim would be to integrate the layerswi

[2017-11-20 05:15] sharseema opened #68 "How to create opacity for three layers using one opacity slider in Open Layers 3?"
I have separate three layers,i want to create only one opacity range slider for three layers,suppose first layer is 0-30 range, second is 30-60 range and third is 60-100 range.I have done some code but it works only for single layer.I want to show all three layers one by one in one opacity slider.
[code]
Is there messing in may code.Please help me.

Thanks.

[2017-11-20 08:09] walkermatt commented on #68
Hi, what you want isn't something that the layer switcher supports, you're probably best of asking a question over there: https://stackoverflow.com/questions/tagged/openlayers

[2017-11-20 08:09] #68 closed

[2017-11-21 10:58] sharseema commented on #68
Thanks.

[2017-11-28 19:27] cdCarlos commented on #47
@AndyColson Did you success integrating ol3-layerswitcher? I'm facing the same issue.

[2017-11-30 00:59] AndyColson commented on #47
I did not.  I put the project on hold and haven't gotten back to it.

[2017-11-30 10:01] walkermatt commented on #47
@cdCarlos do you have a minimal project which demonstrates the issue that you can share?

[2017-12-18 12:33] ahocevar commented on #59
Maybe it's time for a new major release that supports the `ol` package instead of `openlayers`? That could be published as https://npmjs.com/package/ol-layerswitcher/, which is currently maintained by @francbartoli.

The current ol3-layerswitcher package can be used with the `ol` package, but it is a nightmare because it installs `openlayers` and all its headache dependencies. It also requires ins

[2017-12-18 12:49] walkermatt commented on #59
@ahocevar I agree, I think a new major version is in order. I'll give it some though over the holidays.

[2017-12-19 14:22] walkermatt opened #69 "Support use of `ol` package"
OpenLayers is transitioning to ES6 modules and encouraging the use of a build tool such as Webpack or Rollup. As stated in #59 by @ahocevar it's currently possible to use the layerswitcher with the `ol` package but messy.

I've started work on migrating to using ES6 modules with the aim of also providing UMD build for those that want to continue to use the LayerSwitcher without transpiling.

See

[2017-12-21 14:47] jubmailto commented on #62
Apologies for this question but can you show me the lines of code for nested groups please ? Thank you

[2018-01-02 13:11] walkermatt commented on #69
I think I'm now fairly happy with the work in the [`ol` branch](https://github.com/walkermatt/ol3-layerswitcher/tree/ol). I've also created [ol-layerswitcher-examples](https://github.com/walkermatt/ol-layerswitcher-examples) which demonstrates use with Browserify, Webpack and Parcel bundlers.

The current situation is:
* Remove support for bundling with the "old" [`openlayers` package](https://www

[2018-01-03 09:22] AhmadPayan opened #70 "OpenLayers 4 - Layers aren't shown in the layer switcher panel"
Hi, I have an issue with the layer switcher. Actually, my layers are added to the map successfully and the map showing them well. But the label of group layers are shown in the layer switcher, and my tile layers and OSM layer doesn't.

**I'm using OpenLayers v4.3.1 and AngularJS.**

[2018-01-03 09:34] AhmadPayan commented on #70
The problem solved. I didn't define title attributes for the layers.

[2018-01-03 09:34] #70 closed

[2018-01-10 14:33] Hanmac opened #71 "support for un changeable layer"
i don't know if that would be easy or not, but i would like a way to have some layer's checkbox readonly?
like they should appear in the list, if possible not as disabled, but they should not be able to changed.

i think "readonly" might work for that?

[2018-01-11 13:10] Hanmac opened #72 "option to control layer reverse"
i only found out recently that the layer of this widget are reversed.

it would be nice, if it would been nice if he widget could have an option to disable the layer reverse

i might do a PR for this if wanted

[2018-01-11 13:19] ThomasG77 commented on #72
See https://github.com/walkermatt/ol3-layerswitcher/pull/2 for the origin (PS: I'm responsible for this particular change in the code base)
After, it's up to @walkermatt to make a decision to restore or not the possibility to make the choice to "reverse" layers in the plugin.

[2018-01-11 21:13] walkermatt commented on #72
I think this has came up a couple of times now. I'd be happy to consider a PR that adds an option. I think I like the idea of a `reverse` option which defaults to `true`.

[2018-01-24 20:25] walkermatt commented on #67
I like the idea of splitting out the panel content so it's reusable, I've just not looked into it yet.

[2018-01-31 20:37] walkermatt commented on #69
At long last I've renamed the project to ol-layerswitcher, merged to `ol` branch and published to https://www.npmjs.com/package/ol-layerswitcher :tada:

[2018-01-31 20:37] #69 closed

[2018-01-31 20:40] walkermatt commented on #59
The latest version can be found on npm at https://www.npmjs.com/package/ol-layerswitcher.

Note that v2.0.0 supports the [`ol` package](https://www.npmjs.com/package/ol) and the hosted build but not the "old" [`openlayers` package](https://www.npmjs.com/package/openlayers).

[2018-01-31 20:40] #59 closed

[2018-02-09 11:43] geraldo opened #73 "Seed with layers from WMS GetCapabilities request"
Did you think of extending your great plugin by adding the possibility of automatically create layers and layer groups from a WMS GetCapabilities request?

I imagine  something like:
1. A parameter to indicate the GetCapabilities URL
2. Fetching WMS XML
3. Parsing the XML by using [ol.format.WMSCapabilities()](https://openlayers.org/en/latest/apidoc/ol.format.WMSCapabilities.html)
4. Building the

[2018-02-09 13:54] walkermatt commented on #73
I like the idea but I think it would make sense for the functionality you outline to be in it's own plugin. That way users can benefit from this functionality without the need for the ol-layerswitcher.

If the plugin follows the same conventions as the ol-layerswticher then we get the best of both worlds and I'd be happy to include an example/ link.

One thought on functionality is that it would b

[2018-02-09 13:54] #73 closed

[2018-02-09 19:21] ThomasG77 commented on #73
Too incomplete at the moment but you can look at https://github.com/ThomasG77/wms-selector for some clues.

[2018-02-14 12:50] digoburigo opened #74 "ol-layerswitcher for angular 5"
Hello, i tried to put this layerswitcher on a project with angular 5 and openlayers 4, but i could not do it. I follow the webpack tutorial to use in angular 5, but i'm getting this error

[code]
[code]

I put the .css files on the angular-cli.json too

[2018-02-14 13:54] digoburigo commented on #74
I might have found the solution, in the tsconfig.json file i put the "target" to "es6" and it worked, but i'm afraid that other things dont work, but im gonna give a try, thanks, sorry for my bad english

[2018-02-14 13:54] #74 closed

[2018-02-16 12:10] geraldo commented on #73
Thanks for the hints, but I have to spare them for later. For the actual project I had to use a different approach as GetCapabilities doesn't show all properties I need to pass to my web map. Actually I had to get the info directly out of my QGIS project file...

[2018-03-08 13:58] XeZZoR opened #75 "Angular 5 - Typescript example"
I am trying to get one of the example to work with Angular and Typescript.
But I always get ERROR TypeError: ol_layerswitcher_1.default is not a constructor.

Can you adapt one of your examples for Typescript maybe?

[2018-03-09 18:17] digoburigo commented on #75
Hey, i'm trying this too, I change the "target" to es6 in the tsconfig.json file and this error is gone. The layerswitcher shows up but dont work properly, so i think this maybe must be adapted for Angular and Typescript

[2018-03-12 17:19] digoburigo commented on #75
`const optionsOSM = {
      title: 'Open Street Map',
      type: 'base',
      visible: true,
      source: new OSM()
    };
this.osm = new LayerTile(optionsOSM);`

[2018-03-12 17:19] digoburigo commented on #75
``
const tileOptions = {
      url: 'http://34.215.151.102:8181/geoserver/wms',
      params: { 'LAYERS': 'criciuma:lotes', 'SRS': 'EPSG:4326', 'WIDTH': '256', 'HEIGHT': '256', 'FORMAT': 'image/jpeg', 'TILED': true, 'BBOX': true },
      serverType: 'geoserver',
      // Countries have transparency, so do not fade tiles:
      transition: 0
    };
    const sourceTile = new TileWMS(tileOptions);

[2018-03-12 17:20] digoburigo commented on #75
[code]

[2018-03-12 17:27] digoburigo commented on #75
Hey man, i have found a solution. In my code i made a object for every parameters for my layers and layerGroups.
Below is how my code works.
[code]
If you have any doubts, just ask. Sorry for my bad english :)

[2018-06-24 14:55] umbe1987 commented on #67
@walkermatt Hey, I forked your repo in order to start working on this.
I am not that code expert but I am digging into the files to hopefully bring this new functionality to the project.

**The idea**

layerswitcher at present automatically generates layers (operational and basemaps) in a panel. I'd like to be able to generate those `div`s regardless of the panel to place them wherever I need.

**

[2018-06-24 20:52] walkermatt commented on #67
@umbe1987 it should be possible :-)

Something along the lines of:
* Making the render methods (and those that they call) static so that they can be called without creating an instance; any references to state associated with `this` would need to be explicitly passed as arguments
* Make the static `renderPanel` function accept a `panel` argument of type `HTMLElement` which it will render the conte

[2018-06-24 22:39] umbe1987 commented on #67
Just a brief super broken preview to give an idea of what I want.
This jsfiddle shows the layers of the ol-layerswitcher inside a sidebar (from https://github.com/Turbo87/sidebar-v2).

https://jsfiddle.net/umbe1987/yLrp163w/

Of course this was just for testing (and it's night in my Country:)).
Anyway, it should give an idea of what I am working at (although bad looking).

The code itself will be

[2018-06-25 21:32] umbe1987 commented on #67
I am not an expert of `static` methods.

Just a quick question to get started and I'll do my research: shall I prepend the `static` keyword to any `renderer`* method and those that they call I find?

May i ask what's the advantage of it?

Thanks for the patience, I am hopefully moving on independently after this.

Meanwhile, I created [the branch](https://github.com/umbe1987/ol-layerswitcher/tree/

[2018-07-04 10:16] umbe1987 commented on #67
@walkermatt

I made all the needed methods static and the example seems to work as expected (see `https://github.com/umbe1987/ol-layerswitcher/tree/sidebar`).

The issue is: I cannot get rid of the console error `TypeError: lyr is undefined` for the `forEachRecursive` method. It only pops up when the map opens.

I suppose this could be due somehow with having in my modified code passed a `map` var

[2018-07-05 20:13] woodbri opened #77 "Integration with permalink"
It would be nice if you had an example of how to integrate with permalink. While this might be obvious to other programmers it is not to users that can do some elite hacking of the code. :)

[2018-07-08 08:38] walkermatt commented on #77
Hi, which permalink implementation are you using? The layer switcher is dependant on the layers within the map and is rendered each time the panel is shown so I don't think there's likely to be any direct interaction required between permalink functionality and the layer switcher.

[2018-07-08 12:35] woodbri commented on #77
I'm use the one from the openlayers examples which is not a control:
https://openlayers.org/en/latest/examples/permalink.html#map=2/0/0/0

    map=<zoom>/<x>/<y>/<rotation>

I think in OL2 they would do something like adding /0,1,0,0,1,1 to the url like:

    map=<zoom>/<x>/<y>/<rotation>/<layer_visibility_list>

where these were boolean on/off for the array of layers then when the page was loaded

[2018-07-08 15:31] walkermatt opened #78 "OpenLayers v5"
The changes required should be fairly small:
* Update imports in `src/ol-layerswitcher.js` to match ol v5 convention
* Update `globals` in rollup config
* Update/ test `examples` in this repo to use v5
* Update/ test [walkermatt/ol-layerswitcher-examples](https://github.com/walkermatt/ol-layerswitcher-examples)
* Update README with a note about version compatibility
* Bump major version
* Release

[2018-07-08 15:35] walkermatt commented on #77
I think this functionality is probably better implemented independently of ol-layerswitcher. It might be worth asking over at  https://github.com/tschaub/ol-hashed.

[2018-07-08 15:35] #77 closed

[2018-07-18 15:09] umbe1987 commented on #67
@walkermatt Did you have any chance to watch my PR?
If there's something I should change (e.g. commits are a bit messy) just let me know.
Thanks!

[2018-08-04 22:07] spimou opened #79 "Module names-related errors while using with Angular6-OL5"
I am using Angular 6 and OpenLayers 5.1.3. I installed the ol-layerswitcher by doing `npm i ol-layerswitcher --save` and it is installed in the `node_modules` of the node folder

[code]

To insert it in my angular code, in my angular component I do
[code]

This works fine, the map in the UI and the ol-layerswitcher work, but I get the following errors in my console

[code]
I am an angular newbie a

[2018-08-05 07:56] walkermatt commented on #79
I think this is due to us needing to update the layerswitcher to OpenLayers v5. I've just created [an `ol5` branch](https://github.com/walkermatt/ol-layerswitcher/tree/ol5) for the work.

If you update your `package.json` to specify `git+https://github.com/walkermatt/ol-layerswitcher.git#ol5` as the "version" you should be able to test against an OpenLayers v5 compatible version of the layerswitch

[2018-08-05 11:30] walkermatt commented on #79
It's probably worth deleting your node_modules directory, running `npm install` again then rebuilding your project.

[2018-08-05 18:54] walkermatt commented on #78
WIP support for OpenLayers v5 in [`ol5` branch](https://github.com/walkermatt/ol-layerswitcher/tree/ol5). Also see [`ol5` branch of ol-layerswitcher-examples repo for usage](https://github.com/walkermatt/ol-layerswitcher-examples/tree/ol5).

If you'd like to test in a project that uses OpenLayers v5 you can update the `ol-layerswitcher` dependency in `package.json` to use the `ol5` branch in the r

[2018-08-05 18:57] #75 closed

[2018-08-05 18:59] #47 closed

[2018-08-06 11:01] spimou commented on #79
So, delete everything that is inside node server's `node_modules` folder, run `npm install` to get the modules re-installed. How this will help, what are we trying to achieve here? I guess its way too risky now, since my project is already pretty big and I am afraid that something may break.  What other options do I have here? Maybe the way I am importing the `ol-layerswitcher` or other parts of O

[2018-08-06 15:45] walkermatt commented on #79
In that case try just removing the ol-layerswitcher package:

[code]
Then installing specifying the git repo/ branch:

[code]

[2018-08-06 17:39] spimou commented on #79
Oh yeah, works perfectly, no errors or warnings. Thanks for your time and effort Matt. Keep up the good work. For additional info about the structure or the code, feel free to ask.

[2018-08-07 15:48] #79 closed

[2018-09-01 19:15] #46 closed

[2018-09-18 21:45] FBNitro opened #95 "OpenLayers 5.2.0 - setMap fails because Observable.unByKey has been removed"
I'm attempting to remove the layerswitcher at runtime, and then reload it later.  I'm doing this because the layerswitcher doesn't seem to pick up new layer groups if I simply re-render (I can create another issue for that separate if you like).

When I attempt to remove it, it fails in setMap(map).  I believe this is because Observable.unByKey has been removed in the later versions.  It is no lon

[2018-09-19 07:10] umbe1987 commented on #95
You mean this one? https://openlayers.org/en/latest/apidoc/module-ol_Observable.html#.unByKey

[2018-09-19 14:40] FBNitro commented on #95
Yeah that one... sorry I missed it.  Let me try to get a sample together with the error I'm seeing.

[2018-09-29 15:52] thomasschmiedl opened #98 "Remove Layer from Group"
Hello,
is it possible, when adding a layer to an existing group after the layer switcher has been added to the map via "overlayGroup.getLayers().push(...);", also remove this layer from the group?
Thanks,
Thomas

[2018-10-01 15:08] StuffOfInterest opened #99 "Click vs hover to activate"
I'm generally happy with the layer switcher but it would be nice to have an option to control activation of the switcher.  Currently, the attribution control requires clicking to activate it and it stays shown until clicked again.  The layer switcher activates on hover and then goes away as soon as you move outside of the switcher.  Having an option to switch the activation mode between "click" an

[2018-10-04 19:11] kristiansvenssonwsp commented on #15
Im interested in this functionality. Can I have a look at your pure JS solution @swalterfub ?

[2018-10-04 20:51] filippomargiotta commented on #15
I will refer you to my ex colleague/developer who actually implemented this

Sent from my iPhone

[2018-10-05 08:13] filippomargiotta commented on #15
Our layerswitcher isn’t that pure, it requires jQuery and jQuery UI.
Also, its built on OL3, we’re currently running 4.6.4 but I don’t think it will work in later versions.

From: Filippo Margiotta [mailto:filippo.margiotta@gmail.com]
Sent: 04 October 2018 22:51
To: walkermatt/ol-layerswitcher; Jeffrey Boon - Periplus Group
Cc: walkermatt/ol-layerswitcher; Comment
Subject: Re: [walkermatt/ol-layer

[2018-10-05 09:29] swalterfub commented on #15
@kristiansvenssonwsp  There is now a fork showing this feature working in https://github.com/swalterfub/ol-layerswitcher (look in the examples folder for collapse-groups.html).
A production example is available at http://maps.planet.fu-berlin.de
@walkermatt I can create a pull request if you are interested.

[2018-10-05 10:30] umbe1987 commented on #15
@swalterfub I think it is nice. Also, from your (very cool) example, I've noticed you also added checkboxes to groups to control the visibility of the group's child layers, which I think it would be very nice to have as well. But that's probably another feature. Anyway, I second this!

[2018-10-05 10:42] kristiansvenssonwsp commented on #15
Wow, looking at your production example it looks and works really good. Thanks @swalterfub
Indeed I also like thee way you did with the checkboxes for groups with children.

[2018-10-05 10:45] swalterfub commented on #15
Thanks! Indeed, the checkboxes should go into a separate "enhancement" issue...

[2018-10-07 17:00] walkermatt commented on #15
@swalterfub your [collapse example](https://rawgit.com/swalterfub/ol-layerswitcher/master/examples/collapse-groups.html) looks good. At the moment in the example collapsing the "Base maps" group causes the panel to close which I assume is due to the width decreasing when the children are hidden; if we can work around that I think it looks great.

[2018-10-08 09:06] walkermatt commented on #98
Yes that's possible and core OpenLayers functionality, independent to the layer switcher. The next time you open the layer switcher the current layer state will be displayed.

If for some reason you need to force the layer switcher to refresh after making changes to the layers you can call [`renderPanel`](https://github.com/walkermatt/ol-layerswitcher/#renderpanel) on your layer switcher instance.

[2018-10-08 09:06] #98 closed

[2018-10-08 09:06] walkermatt commented on #49
Closed due to inactivity.

[2018-10-08 09:06] #49 closed

[2018-10-08 13:07] walkermatt commented on #99
This has come up a couple of times now (this issue and #39).

[2018-10-09 11:10] umbe1987 commented on #15
@walkermatt I think #99 implementation should "fix" this. I mean, if layerswitcher is supposed to close as it is now if mouse is not hovering over it, then the collapse example works as it should. If the option to get the layerswitcher opened until somenone explicitly closes it gets implemented, then I guess this (expected) behaviour would not be an issue anymore. What do you think?

[2018-10-10 13:36] umbe1987 opened #104 "RawGit has reached the end of its useful life"
Just to inform you that RawGit has reached the end of its useful life.
[https://rawgit.com/](https://rawgit.com/)

[2018-10-10 13:41] walkermatt commented on #104
Yeah saw that, it's a shame as it's been a useful service. I'll take a look at alternatives.

[2018-10-15 15:49] swalterfub commented on #15
Hi @walkermatt I have changed the code so that the panel keeps its width when you fold a group (and the group name is longer than any sublayer name). Will do a pull request...

[2018-10-22 11:28] umbe1987 opened #107 "disable checkbox and grey out layername not working in sidebar.js"
Referring to the implementation in #51.

It seems adding `minResolution `and `maxResolution `to `examples/sidebar.js ` does not work (it does not grey out layers in the panel rendered in the sidebar).

**test**
[code]

I am wondering if this is one of those cases where the user needs to re-render the panel again...

If so, I think it would be better to implement something that would automatically

[2018-10-24 15:03] umbe1987 commented on #107
Specifically, I am referring to the comment and code in these lines of code:
https://github.com/walkermatt/ol-layerswitcher/blob/4ac95e35ea1d5b96331332c228b259804fb30944/examples/sidebar.js#L62-L68

[2018-10-24 17:53] AllroadsNL opened #108 "visible: 'false', not working"
[I took this addlayer example](https://github.com/walkermatt/ol-layerswitcher/blob/master/examples/addlayer.html)
with the mentioned js and css.
fitted a line
`			visible: 'false',`

and the code is
`    overlayGroup.getLayers().push(
        new ol.layer.Image({
            title: 'Countries',
			visible: 'false',
            minResolution: 500,
            maxResolution: 5000,
            source

[2018-10-24 18:35] walkermatt commented on #108
Hi, try:

`visible: false`

In JavaScript `'false'` is a non-empty string which will evaluate to `true`.

[2018-10-24 18:35] #108 closed

[2018-10-24 18:46] AllroadsNL commented on #108
Thanks !! Your right.

[2018-10-26 18:29] Zvax commented on #99
Not sure if that is related, but if it were possible while thinking about this issue, if it were possible to have an "always open" mode, that would be great as well!

The on mouseover behaviour is excellent when embedded on the map, but when displaying the layer switcher out of it, it could be great to have it always opened.

I'm open to help, if desirable and/or possible, I'm thinking that adding

[2018-11-03 19:46] walkermatt commented on #107
@umbe1987 yes you're right as it stands the user would have to re-render the panel themselves. I've been trying to avoid getting into maintaining listeners on the view/ layers as it gets complicated tracking all the possible events (adding/ removing layers, visibility, changes to the zoom etc.)

[2018-11-03 19:56] walkermatt commented on #104
It looks like https://raw.githack.com/ could be a drop in replacement to https://rawgit.com/.

Provider | Link
------------ | -------------
RawGit | http://rawgit.com/walkermatt/ol-layerswitcher/master/examples/layerswitcher.html
RawGitHack | http://raw.githack.com/walkermatt/ol-layerswitcher/master/examples/layerswitcher.html

@ThomasG77 have you looked at alternatives to RawGit?

[2018-11-03 20:00] walkermatt commented on #99
@Zvax If you're rendering the panel outside the map you can have an "always open" mode now, see https://github.com/walkermatt/ol-layerswitcher/pull/76 and the [Side bar example](https://rawgit.com/walkermatt/ol-layerswitcher/master/examples/sidebar.html).

[2018-11-04 02:14] ThomasG77 commented on #104
Using the one you mentioned  (easy to remember and change from original URL simple) plus https://twitter.com/ThomasG77/status/1049417230591635456

[2018-11-05 20:18] walkermatt commented on #104
@ThomasG77 thanks, looks like I liked that tweet at the time :man_shrugging:

[2018-11-17 20:26] umbe1987 opened #111 "sidebar example is broken"
I think it's the only one not working due to a dated openlayers js and css reference (v4.6.4 against v5.1.3) in the html example. Will try to fix it with a PR when I can if you want.

[2018-11-17 21:09] walkermatt commented on #111
Thanks, what issue are you seeing? I tested in FF, Chrome and Edge prior to merging.

[2018-11-23 09:11] umbe1987 commented on #111
I've made a simple PR to fix this. Cheers!

[2018-12-30 21:09] ThomasG77 opened #123 "Implement on click show/hide panel?"
Hi,

I've done some hacks to get [a working demo](https://raw.githack.com/ThomasG77/ol-layerswitcher/toggle-panel-onclick/examples/collapse-groups.html) but I'm not happy with the implementation (visible [on branch](https://github.com/ThomasG77/ol-layerswitcher/tree/toggle-panel-onclick))
First, would you be interested by the feature?
If yes, what would be your approach in the code? I'm also think

[2018-12-31 09:35] walkermatt commented on #123
Hi,

This has came up a few times now (#39, #99) so yes I think we should add an option to require a close button be activated in order to close the panel.

@StuffOfInterest suggests being consistent with existing controls such as `ol/control/Attribution` which seems sensible.

I personally like the OpenLayers icon for the "open" button (and it can be easily overridden via CSS). I think that anoth

[2019-01-02 11:34] #107 closed

[2019-01-08 09:23] #104 closed

[2019-02-07 09:02] rekafarkas1993 opened #133 "SyntaxError"
Hello!
I got this error message:

SyntaxError: import declarations may only appear at top level of a module (ol-layerswitcher.js:1)

and it shows me that this line is the cause in the ol-layerswitcher.js: >

import Control from 'ol/control/Control';

Could you help me with this? The last time I used layerswitcher was with ol3... :)

And which js should I import of these?
<script src="ol-layerswitc

[2019-02-07 09:05] #133 closed

[2019-02-07 09:07] rekafarkas1993 commented on #133
Well It's working like this too, I just wrote the titles in the wrong part of the code. But it is an interesting error, because it's working at the same time.
Sorry :)

[2019-02-22 21:28] #111 closed

[2019-03-14 08:56] blq opened #151 "change name of class?"
Maybe a silly request, but simple; could you consider renaming the ".panel" class to prefixed like ".layer-switcher-panel" or such?
I happen to have a big pile of UI code that uses ".panel" and get an unfortunate collision that I otherwise can't avoid without a special case (or modifying your CSS like above).

[2019-03-14 09:00] blq commented on #151
(btw, even sillier CSS question/request ;) What's the rationale for setting "top" to 3.5em? It leaves a gap top UR. And using 0.5em it would align with the OL zoom-buttons for example)

[2019-03-16 13:31] walkermatt commented on #151
Hi @blq.

I think that's a good idea. We opted to prefix the classes used for folding groups with `layer-switcher-`. Once we've merged #132 I'd be happy to accept a pull request.

Good question :-) It's to avoid the rotation control which is at the top right.

[2019-04-13 18:36] stackedone commented on #79
I got the same warnings with
`"ol": "^5.3.0",
    "ol-layerswitcher": "^3.2.0",`

`WARNING in ./node_modules/ol/Layer/Base.js
There are multiple modules with names that only differ in casing.
This can lead to unexpected behavior when compiling on a filesystem with other case-semantic.
Use equal casing. Compare these module identifiers:
* /Users/wim/development/ng7-demo/node_modules/ol/Layer/Base.j

[2019-04-17 18:51] stackedone opened #166 "warning multiple modules with names that only differ in casing"
I have some warnings in my angular 7 application. These are the same as #79 and the fix is merged into the versions. How can i fix this?
"ol": "^5.3.0", "ol-layerswitcher": "^3.2.0",

`WARNING in ./node_modules/ol/Layer/Base.js
There are multiple modules with names that only differ in casing.
This can lead to unexpected behavior when compiling on a filesystem with other case-semantic.
Use equal ca

[2019-05-07 15:36] osiox opened #172 "OpenLayers 5.3.2 - setMap fails with 'Observable.unByKey is not a function'"
When removing the control, the exception is thrown:

This is the same issue as #95.

The problem exists because unByKey is no longer method of Observable class - it is now a method of the ol/Observable module:

[code]

[2019-05-10 10:05] peterspliid opened #174 "Is it possible to toggle visibility of more layers at a time"
I wish to group several layers, so they appear as one layer in the layerswitcher, so when I change the checkbox, it shows/hides several layers at once.

It could be fixed if the layerswitcher fires an event when hiding a layer, so I can hide another layer when that layer is toggled. I can't however find an event for that. Or is there any other way to do this?

[2019-05-13 08:42] #172 closed

[2019-05-20 12:32] eflowbeach commented on #58
@walkermatt Do you plan to add this functionality to the ol3-layerswitcher? I noticed this was discussed a few years ago.

[2019-05-24 11:59] Wejden22 opened #179 "Missing LayerSwitcher in OpenLayers 5?"
I was wondering if there is a LayerSwitcher control in OpenLayers 5?

I read that ol5 is a complete rewrite. But I can't seem to find the equivalent of LayerSwitcher from https://openlayers.org/en/latest/apidoc/module-ol_control.html. I don't see how one can turn on and off layers without this control. Is LayerSwitcher renamed to something else, missing or is the documentation incomplete?

If Open

[2019-05-24 14:14] walkermatt commented on #179
@Wejden22 [this repo](https://github.com/walkermatt/ol-layerswitcher) implements a layer switcher for OpenLayers 5. If you look through the issues you will see that some people have adapted it to look more like the OpenLayers 2 layer switcher if that's what you're after.

[2019-05-28 10:38] Wejden22 commented on #179
Same , its  not working !

[2019-05-28 10:40] walkermatt commented on #179
Have you also included the CSS along with the JS?

[2019-05-28 10:46] Wejden22 commented on #179
yes !

[2019-05-29 08:28] Wejden22 commented on #179
Working !!  Thank you

[2019-05-29 08:29] Wejden22 opened #181 "Problem with OSM Map OpenLayers 5 : the map won't show"
var map3 = new ol.Map({
      layers:  new ol.layer.Tile({
        source: new ol.source.OSM()
      }) ,
    target: 'map-id3',
    view: new ol.View({
      center:ol.proj.fromLonLat([10.74,34.77]),
      zoom:12
    })

  });

[2019-05-29 11:07] archaeogeek opened #182 "Collapsed layer groups and layers that are not in groups look very similar"
Currently the only difference between a collapsed layer group and a layer not in a group is that layer groups are bold. While I don't have a  great suggestion for an alternative, this seems a bit confusing as bold generally means active, rather than "expand me, I'm a group". I wonder also if there's an accessibility issue with it?

[2019-05-29 12:59] #179 closed

[2019-05-31 08:42] Wejden22 opened #184 "Uncaught SyntaxError: Unexpected token export"
`export default class Popup extends ol.Overlay {`

[2019-05-31 08:51] walkermatt commented on #184
@Wejden22 can you please raise an issue against the [ol-popup repository](https://github.com/walkermatt/ol-popup/issues/) and include some details such as whether you are using a build tool such as Webpack or including the script directly in the page via a script tag.

[2019-05-31 08:51] #184 closed

[2019-06-14 08:26] kennethhaspeel commented on #182
There is the little arrow besides the group name. If you want more, i think you can  just change the css

[2019-06-14 08:31] kennethhaspeel commented on #174
I've been trying the same thing but no luck so far. I've tried making a group layer (to group the layers) and then adding that group to another group which has a title and a type base. The map shows so the group works but it's not added in the layerswitcher

[2019-06-14 09:46] walkermatt commented on #174
@peterspliid we've been working on allowing visibility to be controlled via groups in this PR, see from this comment: https://github.com/walkermatt/ol-layerswitcher/pull/132#issuecomment-496654601

[2019-06-28 17:57] LandonMarshall opened #194 "Can we get a new release?"
I love this layerswitcher, and am using it via npm install, but it has a few bugs since I am using the latest release(which is quite old). I pulled the latest code, and it works perfectly for me but I would like to use the official releases. Thanks in advance!

[2019-06-29 08:46] walkermatt commented on #181
Please raise general OpenLayers support questions on [stackoverflow with the tag `openlayers`](https://stackoverflow.com/questions/tagged/openlayers).

[2019-06-29 08:46] #181 closed

[2019-06-29 08:47] walkermatt commented on #194
Yes, it's been a while :smile_cat:. I'm planning on a release once https://github.com/walkermatt/ol-layerswitcher/pull/132 is merged which should be soon.

[2019-07-03 08:53] walkermatt commented on #62
The ability to nest and expand/ contract a group has been available for a little while. See the comments regarding `fold` in [../examples/layerswitcher.js](../examples/layerswitcher.js).

[2019-07-03 08:53] #62 closed

[2019-07-03 08:59] walkermatt commented on #174
I've just published [v3.3.0](https://www.npmjs.com/package/ol-layerswitcher/v/3.3.0) which I think covers this use case, see the [`groupSelectStyle` option in the docs](../#layerswitcher) and Selectable groups example (under [examples](../#examples)).

[2019-07-03 08:59] #174 closed

[2019-07-03 08:59] walkermatt commented on #63
I've just published [v3.3.0](https://www.npmjs.com/package/ol-layerswitcher/v/3.3.0) which I think covers this use case, see the [`groupSelectStyle` option in the docs](../#layerswitcher) and Selectable groups example (under [examples](../#examples)).

[2019-07-03 08:59] #63 closed

[2019-07-03 09:00] walkermatt commented on #194
I've just published [v3.3.0](https://www.npmjs.com/package/ol-layerswitcher/v/3.3.0).

[2019-07-03 09:00] #194 closed

[2019-07-03 17:13] LandonMarshall commented on #194
Thank you! It works perfectly now.

[2019-07-07 08:32] walkermatt commented on #166
Closing in this repo as I think this issue relates to [OpenLayers](https://github.com/openlayers/openlayers/) itself and not ol-layerswitcher.

[2019-07-07 08:32] #166 closed

[2019-07-12 05:58] MrSoUndso commented on #71
You can already do that:
define a layer as a base layer and add it to its own group.
As a result, you will get a new group with only one element, and as it is a base layer, it has a radio button which can not be disabled.

[2019-07-17 07:19] josromgav opened #203 "Support for custom vector layers"
Hi, I have used this layerswitcher in a few projects already and i find it quite useful.
It wasn't untill now that i wanted to select and unselect (checkbox) custom vector source layers (source: new ol.source.Vector()) but it gives me an error every time I try to show them through the panel interface or showing them by default.

Every example I find online is using third party sources for tile lay

[2019-07-17 20:36] umbe1987 opened #204 "Extending Layerswitcher class"
Hi @walkermatt, hope everything's fine.

This is more a question rather than an issue.

I don't expect you to read through all this question, but I think this is the best place (more than SO) to ask it as it's your project.

In [my project](https://github.com/umbe1987/shire), I am adding to each HTML "layer" class created by the Layerswitcher:

- a zoom and a table icon on the right of each layer

[2019-07-18 09:45] walkermatt commented on #203
Hi, have you tested your vector layer independently of the layerswitcher? The error doesn't appear to be directly related to the layerswitcher but more a problem with your layer definition. There are quite a few [examples of using vector layers](https://openlayers.org/en/latest/examples/?q=vector).

[2019-07-18 09:45] #203 closed

[2019-07-18 11:48] myfta opened #205 "The layer switcher obscures the "return to north" arrow"
Standard functionality in Openlayers is such that when a map is rotated a "return to north" arrow appears in the top right of the screen. The layer switcher icon seems to obscure this icon and therefore the functionality is lost.

See [https://github.com/tomchadwin/qgis2web/issues/774#issue-469460183], where the problem was discovered.

[2019-07-23 20:43] LandonMarshall commented on #123
Is this issue still active? I would benefit from this feature as well. I can open a pull request if neccessary.

[2019-07-23 20:45] LandonMarshall opened #208 "Option to re-arrange layers in layer switcher?"
The app I am creating uses a large amount of layers, and it would be useful to be able to rearrange the layers (similar to the way you can [rearrange these layers]). (https://codepen.io/viglino/pen/vxGOQN)

[2019-07-29 15:53] umbe1987 opened #209 "Can we add an event dispatch to LayerSwitcher.renderPanel()?"
I see that after #132 the static method [`renderPanel()`](https://github.com/walkermatt/ol-layerswitcher/blob/a9d983c0e8e6286cf32779cc690ff1773f0d9bb5/src/ol-layerswitcher.js#L129) has a new internal call to itself:

        var ul = document.createElement('ul');
        panel.appendChild(ul);
        // passing two map arguments instead of lyr as we're passing the map as the root of the layers tr

[2019-08-02 09:04] umbe1987 commented on #204
Decided to close this as per [the answers to my question in SO](https://stackoverflow.com/questions/57245090/changing-parents-class-static-method-from-a-subclass).

Really seems not ideal. Anyway, I think I'll make a PR for #209 as I think it would be crucial for those like me who are using the static renderPanel() method to draw the LayerSwitcher. Hope I'll make it soon and that will meet your in

[2019-08-02 09:04] #204 closed

[2019-08-11 06:49] walkermatt commented on #209
@umbe1987 I'd be happy with adding a render event. It should probably be dispatched once the panel had been rendered?

[2019-08-11 06:57] walkermatt commented on #205
I think the current [ol-layerswitcher CSS](https://github.com/walkermatt/ol-layerswitcher/blob/master/src/ol-layerswitcher.css#L11) ensures the rotate button is not obscured. Try rotating the map in the [default example](https://raw.githack.com/walkermatt/ol-layerswitcher/master/examples/layerswitcher.html).

/cc @tomchadwin

[2019-08-11 08:40] myfta commented on #205
Correct. Thank you. I had tweaked the CSS to achieve this effect in the interim.

[2019-08-11 08:40] #205 closed

[2019-08-13 12:01] umbe1987 commented on #209
Maybe a "render" could be fired up when the method is called and "rendercomplete" when it finishes much like is done in [OpenLayers](https://github.com/openlayers/openlayers/blob/v5.3.0/src/ol/render/EventType.js)?

[2019-08-13 13:13] walkermatt commented on #209
Sounds like a plan 👍

[2019-08-14 17:40] mstenta opened #216 "Remember enabled layers in localStorage"
What would be the best way to approach saving the current state of enabled/disabled layers in browser localStorage, so that it persists across page-loads? Would this need to be implemented in the ol-layerswitcher library, or could it be done downstream in the app that uses ol-layerswitcher?

[2019-08-15 07:44] swalterfub commented on #216
On 8/14/19 7:40 PM, Michael Stenta wrote:

Good question. I would like to have an option to save it together with
the link, so that a permanent link with layers settings could be shared...

[2019-08-15 17:26] walkermatt commented on #216
I was discussing something similar with AllRoads from the Netherlands OSM community.

Saving to LocalStorage would have same requirement regarding serialising layer state

[2019-08-15 17:36] mstenta commented on #216
Oh interesting ideas!

In my case, I may have cases where I have multiple maps on a single page, each with some common and some different layers.  So I may experiment with an approach that saves a localStorage variable for each layer's visible state.

So slightly different case - ol-hashed probably wouldn't make sense in my case (but cool library to know about! might have other uses for it).

If I

[2019-08-22 14:39] mstenta commented on #216
So I think maybe a first step would be to add some kind of event that can be listened for when layers are enabled/disabled via layer switcher.

Then my code could listen for that and save the layer state to localStorage. Right now that seems to be the challenge for me: picking up on the layers being enabled/disabled in a consistent way.

Does an event of this exist already in ol-layerswitcher?

[2019-08-22 18:07] walkermatt commented on #216
@mstenta OpenLayers provides an event, I think the code in #30 is still relevant.

[2019-08-22 18:09] mstenta commented on #216
Thanks @walkermatt! I'll give that a try!

[2019-08-22 18:41] mstenta commented on #216
@walkermatt Is it possible to use the `ol.control.LayerSwitcher.forEachRecursive()` function without having the global `ol` object available? I am using Webpack to build my OL code, which means the global `ol` object is not available. So the code that adds `ol.control.LayerSwitcher` doesn't run.

[2019-08-22 18:43] AllroadsNL commented on #216
To communicate with others about a map the string url is needed.
Last week I saw the website of [Brouter Osmoscope](http://brouter.de/osmoscope/#map=9/5.5989/52.54247&op=0.54&l=http://brouter.de/osmoscope/active_false_positives.json)

with @walkermatt layerswitcher
script [github app.js page ](https://github.com/osmoscope/osmoscope-ui/blob/master/site/js/app.js)

Every layer a special ID, later wh

[2019-08-23 07:51] walkermatt commented on #216
@mstenta if your using Webpack then `forEachRecursive` is a static method of the`LayerSwitcher` class:

[code]

[2019-08-23 17:51] mstenta commented on #216
Thanks @walkermatt - makes sense!

Here is some code that seems to work to save/load layers:

[code]

The only thing you'll want to modify is the `farmOS.map.layers` local storage item name prefix, which is specific to my usage.

[2019-08-30 09:44] tomchadwin commented on #216
Couple of very vague thoughts/questions:

- is cookies not an option, rather than full-blown localStorage?
- I seem to remember @ThomasG77 coded on-the-fly unique layer id generation for the attribute search he wrote for qgis2web - if so, would this help?

[2019-08-30 10:52] JackLidge opened #221 "Return name of current top displayed layer"
Hey everyone,

I'm trying to use layerswitcher in the sidebar to create a dropdown list of times from the current top displayed WMS layer, and I was wondering if it was possible using LayerSwitcher to get it to return the current top displayed layer?

If I can get the top displayed layer, then I can do a WMS Capabilities query on the layer to discover what all the time values of the layer are.

[2019-08-30 13:17] mstenta commented on #216
Cookie is certainly another way of achieving the same thing.

I plan to implement the code from my comment above (with localStorage) within my application.  So I'm not sure if we need to add layer memory directly to ol-layerswitcher or not. What are your thoughts @walkermatt ? Should this be a user-implemented thing? Or do you think it makes sense to add something to the library itself?

[2019-08-31 09:25] walkermatt commented on #221
Hi, you can determine the top most visible layer by looping through the layers that the map contains. If you have nested layers you could use the `LayerSwitcher.forEachRecursive` function to loop through layers and groups. Docs: https://github.com/walkermatt/ol-layerswitcher#foreachrecursive

[2019-09-10 13:34] JackLidge commented on #221
Thanks for linking to that @walkermatt, I managed to get it to work using the .forEachRecursive method.

[2019-09-10 13:34] #221 closed

[2019-09-11 00:42] DrMeers opened #225 "Parent/child group selection doesn't seem to work in sidebar-v2 example"
Configuring as per http://raw.githack.com/walkermatt/ol-layerswitcher/master/examples/sidebar.html seems to lose some of the functionality for child/parent checkbox interactions -- e.g. the "minus" symbols for partial group selection don't appear, and deselecting a parent doesn't clear the child checkboxes, etc. How can we keep this nice functionality, but still mounting the LayerSwitcher within t

[2019-09-11 08:17] umbe1987 commented on #225
Might be related to #209?

[2019-09-11 08:41] umbe1987 commented on #225
Or... I guess it has to do with these lines https://github.com/walkermatt/ol-layerswitcher/blob/a9d983c0e8e6286cf32779cc690ff1773f0d9bb5/src/ol-layerswitcher.js#L129-L131

...

https://github.com/walkermatt/ol-layerswitcher/blob/a9d983c0e8e6286cf32779cc690ff1773f0d9bb5/src/ol-layerswitcher.js#L145-L152

It seems calling the static `renderPanel` without explicitly defining any `options` param will

[2019-09-20 10:37] walkermatt commented on #225
@umbe1987 thanks for looking into this, your right it's due to `LayerSwitcher.renderPanel` not setting a default `groupSelectStyle` if one is not provided. I think I've a fix which I'm testing ATM

[2019-09-20 11:15] #225 closed

[2019-09-20 11:22] walkermatt commented on #225
@DrMeers, @umbe1987 I think this is fixed, can you test (the [sidebar example](https://raw.githack.com/walkermatt/ol-layerswitcher/master/examples/sidebar.html) should be updated shortly) then I'll do a dot release once we are happy.

[2019-09-20 15:43] umbe1987 commented on #225
@walkermatt that is looking soooooo good! Thanks a lot!

[2019-09-23 09:36] walkermatt commented on #225
Published as [v3.4.0](https://www.npmjs.com/package/ol-layerswitcher/v/3.4.0)

[2019-09-23 09:46] DrMeers commented on #225
Thanks @walkermatt and @umbe1987 :)

[2019-11-13 09:05] infostar31 commented on #182
Don't know if it's in the right place to add my question.
Currently I'm using ths layerswitcher with Openlayers 4 but I have an issue with layer groups that are not base maps. when I remove 'type: base' line, the layerswitcher button is suddenly gone when mouseover it !
How can I fix it?

[2019-11-29 02:10] David102400 opened #249 "no dependence ol/control/control ol/observable"
![image](https://user-images.githubusercontent.com/27179516/69838841-3d39a500-1290-11ea-9dab-01898884411b.png)
my ol is 4.6.5 and layerswitcher is 2.0.0,then show error like that....

[2019-11-29 06:59] David102400 commented on #249
use ol@v4.6.5 instead of openlayers,even their version is same

[2019-11-29 06:59] #249 closed

[2019-12-30 18:31] walkermatt commented on #209
Now merged

[2019-12-30 18:31] #209 closed

[2020-01-04 04:16] adrelino commented on #123
@LandonMarshall I just opened a pull request #258.

@ThomasG77 Regarding the distinct icon I followed `ol/control/Attribution` which lets you set text icons via the options`label` and `collapseLabel`.

Per default, I only set the collapseLabel, which displays `'»'` on top of the button to indicate closing, which is in line with the Attribution control @walkermatt . For opening, they use an `'i'`,

[2020-01-05 20:46] mstenta opened #259 "Fold button submits forms"
If you use the `fold` property to collapse a layer group, and the map is within a form, clicking the arrow (which is a `<button>`) to expand the group submits the form.

I think we just need to add `e.preventDefault();` to fix this. Here is the click function:

https://github.com/walkermatt/ol-layerswitcher/blob/32735005cb5eaa3c20310856dc346fb0261f7c4c/src/ol-layerswitcher.js#L308

For reference,

[2020-01-05 20:50] mstenta commented on #259
I created a pull request for review: #260

[2020-01-12 15:01] walkermatt commented on #259
@mstenta thanks for reporting and the PR 👍

[2020-01-12 15:01] #259 closed

[2020-01-12 18:02] #72 closed

[2020-01-18 15:23] mstenta commented on #259
Thanks @walkermatt for reviewing and merging!

Do you foresee a new tagged release in the near future? No rush - just curious. I'm referencing a specific commit in my package.json now.

[2020-01-19 20:19] walkermatt commented on #259
Just published https://www.npmjs.com/package/ol-layerswitcher/v/3.5.0 :tada:

[2020-01-20 18:30] mstenta commented on #259
Terrific! Thank you!

[2020-01-31 13:16] adrelino commented on #99
@StuffOfInterest have a look at #258 (demo: https://raw.githack.com/adrelino/ol-layerswitcher/activation-mode-option/examples/activation-mode-click.html) to see if this suits your needs. The icon can now also be changed if wanted via the option `label`.
I finally want to get this merged ;-) to avoid any further duplicate efforts.

[2020-02-14 13:00] biplovbhandari opened #269 "Give an ability to select layers to be shown in Layer Switcher"
Hi

I want to be able to put only selected layers in layer switcher instead of all the layers in the Map. Not sure how difficult would be to implement.

[2020-02-17 10:25] #99 closed

[2020-02-17 10:25] #123 closed

[2020-03-05 22:35] oehm-smith commented on #75
Given this is closed I will open a new ticket for my concerns. It is #272.

[2020-03-05 22:37] oehm-smith opened #272 "Typescript and typing fails"
Following on from #75 comes the problem of typing when using Typescript:

    import LayerSwitcher from 'ol-layerswitcher';

    ...
    this.map.addControl(new LayerSwitcher());

However there is a problem because the options to the Layers does not include the fields that `ol-layerswitcher` is looking for:

### OpenLayers

	export interface Options {
		opacity?: number;
		visible?: boolean;
		ext

[2020-03-06 04:28] oehm-smith commented on #272
I have a solution:

    const mainMap = new TileLayer({
      source: new OSM()
    });
    mainMap.set('name', 'Main map');
    mainMap.set('title', 'Open Street Map');
    mainMap.set('type', 'base');

Now I just need to get button and menu showing properly ...

[2020-03-06 07:24] walkermatt commented on #272
@oehm-smith have you included the main CSS file in your project? See the [CSS section in the README](https://github.com/walkermatt/ol-layerswitcher#css-1).

[2020-03-18 00:36] oehm-smith commented on #272
Its all good now, thanks @walkermatt.

[2020-03-18 00:36] #272 closed

[2020-03-19 09:17] skitourenguru opened #279 "LayerSwitcher click events are propagated to ol map"
If the user changes the active layers with the LayerSwitcher and the click occurs by chance over a map feature, not only the LayerSwitcher handles the event, but the event is also propagated to the ol map and the feature is clicked.
How to stop event propagation from the LayerSwitcher to the ol map?

[2020-03-19 13:16] walkermatt commented on #279
Hi, this should be fixed in a future ol release (see https://github.com/openlayers/openlayers/pull/10502)

[2020-03-20 10:52] umbe1987 commented on #272
Thanks, this has been useful to me!

[2020-04-01 09:55] Alish84 opened #285 "right to left layer name in sidebar-v2"
Hi
I was going to use ol3-layerswitcher with sidebar-v2. I have encountered a problem in the layer name and group layer. I can't change text direction to "right to left" for the language differing from En, like Persian.
![Untitled](https://user-images.githubusercontent.com/46603950/78124235-a4c15600-7424-11ea-91e2-5ff1511cd73d.png)

[2020-04-01 10:03] Alish84 opened #286 "text direction"
how can I change text direction from right to left for the layer group name and all the others...

[2020-04-08 14:22] bobermen1 opened #290 "Package Out of Date"
I am using this to get the package:
<script src="https://unpkg.com/ol-layerswitcher@3.5.0"></script>

The js it pulls down seems to be missing the click activation mode code.

[2020-04-10 06:31] walkermatt commented on #290
Thanks for the nudge. I've just published [v3.6.0 to npm](https://www.npmjs.com/package/ol-layerswitcher/v/3.6.0).

[2020-04-10 06:31] #290 closed

[2020-04-10 06:33] walkermatt commented on #286
Hi, Can you share a mockup or screenshot showing how you would expect the tree to look like when rendered right-to-left? Do you know how other similar projects handle this?

[2020-04-10 19:29] Alish84 commented on #286
Hi
Thank you for responding. I wanted to change the group layer name and the tree to align-right. I changed .layer-switcher { text-align: right; } but it didn't work. I had something like this.
![](https://user-images.githubusercontent.com/46603950/78123725-dab20a80-7423-11ea-8e86-f72927259c1c.png)
I was quite disappointed that I deleted haphazardly my browser history and it just worked
![Untitled

[2020-04-10 19:58] walkermatt commented on #286
Ah OK, so is that what you'd expect? Is there anything else that would need to change in order to support right to left text direction?

[2020-04-10 20:02] Alish84 commented on #286
I'm working on a personal webGIS that cover all geospatial data of my country and I have a plan to develop it to the whole world. My first reason for creating this is to help student especially those dealing with geoscience(including Geology, GIS&RS and ...) that can do their dissertation in the best way. I am going to add any data, learning course, free software, and all the things relating to ge

[2020-04-10 20:05] Alish84 commented on #286
Oh no, I'm good. Thanks for your attention. All the thing I need is changing #text-align in #css and The problem was solved.

[2020-04-10 20:10] Alish84 commented on #286
And finally, thank you #walkermatt for this good #ol-layerswitcher

[2020-04-10 20:46] walkermatt commented on #286
No worries, you're very welcome. Glad you're sorted 👍

[2020-04-10 20:46] #286 closed

[2020-04-10 20:49] walkermatt commented on #285
Duplicate of #286

[2020-04-10 20:49] #285 closed

[2020-04-28 13:18] bryanSME opened #297 "add a .d.ts file"
Can we get a .d.ts file added to the root project directory? I thought about adding this to ** DefinitelyTyped** but it would be nice to have it within the actual project.

![image](https://user-images.githubusercontent.com/16226280/80491043-317e0780-8930-11ea-9737-3544cefa0c28.png)

## This "works" and should be mostly right.  The main issue is with the imports.
1. The `map as OlMap` this is mino

[2020-04-28 18:35] bryanSME commented on #297
I just realized the filename should be **index.d.ts** instead of **ol-layerswitcher.d.ts**.

[2020-04-29 14:45] bryanSME commented on #297
I made an attempt this morning to get this into DefinitelyTyped (@type/ol-layerswitcher) but ended up having some trouble getting it to build and run the tests that are required for the pull request.  I may revisit this in the future.

- **index.d.ts**
[code]

- **ol-layerswitcher-tests.ts**
[code]

[2020-04-29 15:29] bryanSME commented on #297
pull request 298

[2020-04-29 15:29] #297 closed

[2020-05-03 15:07] MtnBiker opened #301 "Icon is getting cropped"
ol/ol.css sets height and width to 1.375em over-riding 38px set by layerswitcher.
[http://knobby.ws/toShare/Icon_cropped_with_css.png](Image showing cropping and css) from Chrome, but same in Safari.

box-sizing is the same, with margins are changed from what they are when ol.css is not involved.

I tried not having ol/ol.css but then the map cannot be moved with the mouse. I imagine there are oth

[2020-05-03 19:30] walkermatt commented on #301
I think the issue is due to the fact that `ol.css` is being loaded after `ol-layerswitcher.css`. If you've installed the [ol-layerswitcher package](https://www.npmjs.com/package/ol-layerswitcher) via npm then you can import `ol-layerswitcher.css` after `ol.css` in your main JavaScript file:

[code]

[2020-05-03 20:19] MtnBiker commented on #301
Thank you. I thought it was something like that. But I'm not familiar enough with the asset pipeline to have quite figured it out. Needed to put `@import 'ol/ol.css';` in application.scss and remove from the specific .js file.

[2020-05-03 20:19] #301 closed

[2020-05-13 15:06] skitourenguru commented on #279
Since I recently updated ol, it is fixed.

[2020-05-13 15:06] #279 closed

[2020-05-27 07:51] kennethhaspeel opened #315 "Non base layer group with radio buttons"
As it is now, the base layer group gets radio buttons. Other layer groups get checkboxes. But i would prefer that the user can only select one layer at a time, so with radio buttons.
Is this possible?
I tried setting the optional layers as base layer but that just controls all base layers, not just the layers in that group.
I could add a dropdown outside of the map and toggle visibility but it's f

[2020-05-27 12:01] walkermatt commented on #315
I'm not in front of my laptop ATM so can't test but have you tried setting `type` of the layers to `base`?

[2020-05-27 12:55] kennethhaspeel commented on #315
That is what i meant with "I tried setting the optional layers as base layer but that just controls all base layers, not just the layers in that group". I assumed it would work like this but it doesn't.
I set all the layers to `base`. This sets the name attribute of the inputs to `base`. So all the layers are in one radio group and not in radio groups by layer groups
**Initial**
![image](https://u

[2020-05-27 17:13] kennethhaspeel commented on #315
I was going to open another topic about another problem but it's probably to difficult to debug. So I decided to just mention it here. When i open my website in Chrome on Android the above menu appears. When I open the website in Edge on Android I get this
![Screenshot](https://user-images.githubusercontent.com/23094979/83051254-0a5d4780-a04e-11ea-98da-1a1593627c4d.jpg)
Edge on Android is (for now

[2020-06-04 08:15] Navid61 opened #321 "how I can put opacity bar below layername with bootstrap style!"
how I can use bootstrap-4.5 rangebar for change layer opactiy moreover put opacity rangebar below layername not in front of layername!?

[2020-06-06 07:12] walkermatt commented on #321
Hi, setting the layer opacity isn't supported by ol-layerswitcher directly. It might be that @umbe1987 may be able to point you at an example of doing something similar using the `render` and `rendercomplete` events.

[2020-06-18 12:34] walkermatt commented on #269
Only just seen this issue. Only layers with a `title` property appear in the layer switcher, without a `title` the layer is omitted.

[2020-06-18 12:34] #269 closed

[2020-06-26 14:25] VandanaAwasthi opened #328 "is there any change of getting types for this module?"
using
new Layerswitcher ()
with typescript gives an error
Only a void function can be called with the 'new' keyword

[2020-06-26 17:05] walkermatt commented on #328
There is an existing PR to add type definitions. I'd welcome your input: https://github.com/walkermatt/ol-layerswitcher/pull/298

[2020-07-08 18:31] movethathoof opened #335 "Title lengths?"
Hello, my apologies if this is mentioned somewhere  - I looked through the examples and documentation and didn't find anything - but I can't find a way to have longer titles for uncombined layers stay on the same line as their selection box. I've attached two photos that demonstrate what I mean: if a layer is not combined and it has a long title then it automatically will skip to a new line from i

[2020-08-17 09:33] walkermatt commented on #335
Hi, do you have a link to an example that illustrates the issue?

[2020-08-17 09:34] #328 closed

[2020-08-18 16:35] MaxDragonheart opened #344 "Problems with customization of button icon"
I'm trying to use a custom icon instead of the default using css but I can't do this. I'm using this style:

I see my icon but the botton is inactive; if I comment `content` it is possible to see the default icon again but born a problem like this:

![Screenshot from 2020-08-18 18-27-25](https://user-images.githubusercontent.com/18444902/90540005-dee78600-e180-11ea-8513-2b629a5141d6.png)

[2020-08-20 13:31] kesslerf opened #346 "Get rid of Checkbox in front of Group Layer"
Hey Guys
I am trying to use the layerswitcher on the sidebar and so far everything is working great. But there is this ugly little checkbox in front of Data which I did not manage to remove.

Can someone help me out? I tried to inspect etc. but I did not get a solution.

This is my current end of the Map.js file, where I probably have to change something?

`var sidebar = new ol.control.Sidebar({ e

[2020-08-20 14:44] swalterfub commented on #346
Hi, can you please post your group layer definition?

[2020-08-20 17:38] kesslerf commented on #346
[code]

This are the first two layers, the other ones are added the same way.

[2020-08-20 18:58] walkermatt commented on #346
Setting the [`groupSelectStyle`](https://github.com/walkermatt/ol-layerswitcher#layerswitcher) to `none` might be what you are after?

[2020-08-21 04:46] kesslerf commented on #346
Unfortunately it did not help/change anything. Maybe I added it at the wrong position?

Here is my full code:

[code]

[2020-08-21 06:49] umbe1987 commented on #346
I think the problem is you declared groupSelectStyle: 'none' in the sidebar, not in the layerswitcher

[2020-08-21 08:37] kesslerf commented on #346
Can you tell me where to put it exactly? I really do not know :(

[2020-08-24 06:35] kesslerf commented on #346
Thank you very much!

[2020-08-24 06:35] #346 closed

[2020-08-24 13:41] kesslerf opened #348 "Add clickable Markers to Layerswitcher-Group"
Hey Guys,
Another Day, another problem.

I want to add Features from a JSON-File to my map and make them clickable to show the image in the 'Image'-property of the features. I found some solutions online but I was not able to get the name of the markers.
I hope you get what I want, its hard to describe as English is not my mother tongue.

[code]

As I want to add more Vector-Layers to the group I

[2020-08-24 19:03] #348 closed

[2020-08-28 08:13] kesslerf opened #351 "Add some kind of "loading" icon?"
Hey Guys,
I am using Layerswitcher - Sidebar and there is a Group Layer which is retrieving big amounts of Data from a Geoserver. So far so good, everything is working.
When a user checks a checkbox of one of the layers in the group layer, or in general when something is loaded to the map, I wanted to add a loading-icon in the middle of the current map-extent.

If you could give me a hint I would

[2020-08-28 12:06] walkermatt commented on #351
Hi, it sounds like the [OpenLayers tile load events example](https://openlayers.org/en/latest/examples/tile-load-events.html) might help.

[2020-08-28 12:31] kesslerf commented on #351
Thanks for the hint, guess that will work!

[2020-09-07 11:17] kesslerf commented on #351
I am sorry to reopen the issue, but I was not able to get this working, maybe you can help me. In the linked example the source-layer is defined as a variable (var source = new XYZ) and called later on. But since I am using the sidebar I have no variable I can call. I tried using the forEachRecursive-option with the title of my group-layer and a function to show/hide my loading-icon on clicking.

[2020-09-07 12:55] #351 closed

[2020-09-08 07:30] nobohan opened #357 "How can I remove some layers or layer groups?"
Is there a way to remove some layers or layer groups from the layerSwitcher?

We can unset the 'title' key on the layer, but layer title can be useful for other use in the application.

In OL2, there was a useful option to put on the layer : ` 'displayInLayerSwitcher':false`

[2020-09-09 13:33] MaxDragonheart commented on #58
News about the adding of this functionality

[2020-09-11 08:31] walkermatt commented on #58
Hi, adding an opacity slider isn't currently under consideration.

[2020-09-11 08:31] #58 closed

[2020-09-11 10:00] ThomasG77 commented on #58
I'm not sure it's better to try increasing the scope of ol-layerswitcher when other OpenLayers layer switcher projects are intended for complex cases.
So, for complex layer switcher, you may look at ol-ext project sample e.g https://viglino.github.io/ol-ext/examples/control/map.switcher.html or a my simplified forked version e.g https://gist.githack.com/ThomasG77/8cb1fddc64d4b3d8c6e7d76ad1d20dd4/r

[2020-09-11 14:20] walkermatt commented on #58
Thanks @ThomasG77, as it happens @devsupportman is currently looking at the feasibility of allowing a function to be supplied that would allow the markup for a layer to be customised. In theory this might allow adding additional controls such as an opacity slider.

[2020-09-11 18:09] walkermatt commented on #357
Hi, currently the only way to avoid a layer being displayed is to not set a `title` property.

[2020-09-11 18:09] #357 closed

[2020-09-18 20:50] movethathoof commented on #335
Hi! Sorry that this reply is so delayed - I tried throwing together[ a plunkr, but could only get the layer switcher to work with layers collapsed](https://plnkr.co/edit/R4XzS5XxbspPQ92E?preview), making it useless as demonstration of this issue.

That meant I had to wait until I could get it up elsewhere, which altered the issue somewhat,. [Here](https://www.sundrytangents.net/map2/) you can see

[2020-09-18 21:10] walkermatt commented on #335
Hi, I released a new version today which includes some improvement to wrapping of long layer titles. See the [CHANGELOG](https://github.com/walkermatt/ol-layerswitcher/blob/master/CHANGELOG.md#v370) and linked issue for details. I've also updated the [main example](http://raw.githack.com/walkermatt/ol-layerswitcher/master/examples/layerswitcher.html) to include a longer wrapped title. Let me know

[2020-09-19 21:11] movethathoof commented on #335
Thank you for the swift reply! The issues here noted about skipping to a new line or where is starts on a new line would appear to have been resolved.

That said, as can be seen on [either](http://localhost:5000/map1/) of [the two](http://localhost:5000/map2/) demonstration maps I shared, when the layers extend past the bottom of the map the scrollbar no longer appears and leaves them inaccessible

[2020-11-08 15:00] mysiar opened #377 "switcher not updated if group visibility changed from code"
I have a case that I build the base map with LayerSwitcher.
Later on I create groups and set their visibility depend on the config but LayerSwitcher do not see the visibility in Panel.
Is there any way I can hook it to update Switcher based on group visibility ?

[2020-11-08 15:06] mysiar commented on #377
I found out if I add layer to group and set layer visibility to group visibility that LayerSwitcher is updated the way I wanted :)

[2020-11-08 15:06] #377 closed

[2020-11-08 15:08] walkermatt commented on #377
Hi, you can also call the `renderPanel` method of your instance which should update the layers shown in the panel to match the current state of the map 👍

[2020-11-09 09:19] walkermatt commented on #335
@devsupportman have you seen this issue with ol-ishare?

[2020-11-09 09:44] devsupportman commented on #335
I think this can be resolved by allowing overflow scrolling and limiting the height on the layer switcher, e.g.:
[code]

[2020-11-12 03:36] Luooooooo commented on #357
it's better to set a prop as displayInLayerSwitcher

[2020-11-14 19:30] walkermatt commented on #335
@movethathoof I've just done some testing and I found that adding the following rule did the trick for me:

[code]

Tested on Chrome, Firefox, Edge 18 & 86.

[2020-11-24 10:56] daudihusbands opened #380 "Error in Angular 10"
Hi,
I've just upgraded from angular 9 to 10. My app compiles and runs ok but I'm seeing the following errors

[code]

[2020-11-24 12:22] walkermatt commented on #380
Hi, have you installed the `@types/ol` package?

I think I'm going to simplify how the layer options are defined shortly.

[2020-11-24 20:24] walkermatt commented on #380
I've just released [v3.8.1](https://www.npmjs.com/package/ol-layerswitcher/v/3.8.1), see [the CHANGELOG for details](https://github.com/walkermatt/ol-layerswitcher/blob/master/CHANGELOG.md).

[2020-11-25 06:10] daudihusbands commented on #380
Thanks @walkermatt. I've upgraded to latest ol, @types/ol and ol-layerswitcher. Works ok.

Had to fix quite a few errors caused by adding the @types/ol package.
For example
[code]
had to be changed to
[code]

[2020-11-25 06:10] #380 closed

[2020-11-25 07:36] walkermatt commented on #380
Great, thanks for the update 👍

You can specify layer options including layer switcher specific properties such as `title` via object literals by importing the extended base and group layer options interfaces as described here: https://github.com/walkermatt/ol-layerswitcher/blob/master/README.md#typescript-type-definition

[2020-11-25 09:35] daudihusbands commented on #380
Interesting. Will give it a go.
Thanks again

[2020-12-10 19:39] JPelda opened #385 "customize radio button"
Hi,
Thank you very much for your work so far! It is really useful! However, I have the following question:

I like to have a click event when a radio button is clicked on the sidebar. Tried to add a customize id or name to it but it does not work.

var myLayer = new VectorLayer({
    source: source,
    style: myStyle,
    title: "MyTitle",
    type: 'base',
    id: 123,
});

And finally:

var Gro

[2020-12-10 19:59] walkermatt commented on #385
Hi, you can listen to a visible event on the layer itself. Something along the lines of:

[code]

[2020-12-14 10:39] #385 closed

[2020-12-14 10:40] #335 closed

[2020-12-14 14:01] JPelda commented on #385
Best idea! Thank you very much. Was now able to add a legend to the map that is even movable (done with css and javascript).

[2020-12-27 18:19] hoogw opened #388 "parcel.js sample, missing all check box, see red circle above screen shot"
<img width="1950" alt="Screen Shot 2020-12-27 at 10 15 02 AM" src="https://user-images.githubusercontent.com/419582/103177139-975ac000-482c-11eb-82b6-badd33dc88ab.png">
<img width="1943" alt="Screen Shot 2020-12-27 at 9 51 55 AM" src="https://user-images.githubusercontent.com/419582/103176736-354c8b80-4829-11eb-9f93-2cc4132b072f.png">

I have tried parcel.js sample, missing all check box, see red

[2020-12-27 18:40] hoogw commented on #388
<img width="1754" alt="Screen Shot 2020-12-27 at 10 30 40 AM" src="https://user-images.githubusercontent.com/419582/103177374-c114e680-482e-11eb-86ce-21617e60a893.png">

Radio check box element is there (red line), it does have style, but somehow it was hidden, not showing as expected

by check console, radio style, I realized that radio check box css style was overide by materializecss

So I unch

[2020-12-27 19:18] hoogw commented on #388
I have same error fixed by add style tag in html to overwrite opacity to 1

materialize css set radio opacity to 0, we must undo it to 1

[how to fix this issue, click here][1]

[or issue 2 ,  click here][2]

your html add following style tag to overwrite it

                                      <style>
                                            [type="radio"]:not(:checked), [type="radio"]:check

[2020-12-29 03:33] hctan89 opened #389 "Class constructor Control cannot be invoked without 'new'"
Using this library(v3.8.3) with OL(v6.4.3) in my Angular project(v10.2.0).
Unable to load the layer-switcher due to the following error.

ERROR TypeError: Class constructor Control cannot be invoked without 'new'
    at new LayerSwitcher (ol-layerswitcher.js:168)
    at livemap.component.ts:150
    at ZoneDelegate.invokeTask (zone-evergreen.js:399)
    at Object.onInvokeTask (core.js:27533)
    at

[2020-12-29 15:48] walkermatt commented on #389
An initial Google turns up this issue which sounds similar:

https://github.com/Enngage/ngx-paypal/issues/135

The later comments mention the new Ivy complication pipeline and details of compatibility and debugging options https://angular.io/guide/ivy.

If you've not already, maybe first try disabling Ivy; if that works and you wish to use Ivy then try the linked debugging/ compatibility options?

[2021-01-29 00:31] asindl opened #397 "Is openlayers 6.5 MapBoxVector layer supported?"
Hi there,
I tried to add a MapBoxVector layer to my map according to the [specs](https://openlayers.org/en/latest/apidoc/module-ol_layer_MapboxVector-MapboxVectorLayer.html).
I added title and base and added it to my baselayergroup.
Unfortunately it is not showing up in the layerswitcher dialog. Only the other two layers show up there...

[code]

[2021-02-12 15:40] mike-000 opened #404 "Support for layer minZoom/maxZoom options"
The disabled layer label styling only works when `minResolution`/`maxResolution` is specified in the layer options.  It does not work if the OpenLayers 6 `minZoom`/`maxZoom` options introduced by https://github.com/openlayers/openlayers/pull/9824 are used.

[2021-02-12 15:41] mike-000 commented on #397
Unlike other layer types MapBoxVector does not support additional properties in the constructor, but you could use

[code]

[2021-02-12 20:03] asindl commented on #397
Thanks, @mike-000, that worked.
Now, if I add several mapbox layers (light, dark, streets), I can switch the layers, but the theme is always the same. Maybe some Mapbox specific mechanics in the background...

[2021-02-13 19:14] minorsecond opened #405 "Modifying font"
Please forgive me if this is a simple question as I am a HTML & JavaScript newbie. How would one go about changing the font? This library is awesome, and I was able to quickly put together map using it, but I can't figure out what HTML (I assume?) to write to change the font.

[2021-02-13 19:27] minorsecond commented on #405
I figured it out, if anyone sees this in the future. You have to go into the css file located at `./node_modules/ol-layerswitcher/dist`. In my case, I wanted to modify the typeface for the layer names, so I added `font-family: Helvetica;` under `.layer-switcher li label`.

[2021-02-13 19:27] #405 closed

[2021-02-13 20:11] walkermatt commented on #405
@minorsecond Hi, you shouldn't need to edit `ol-layerswitcher.css` in order to specify the `font-family`.

If you include your CSS file after you import `ol-layerswitcher.css` then you can override the layer switcher styles.

`ol-layerswitcher.css` doesn't actually define a `font-family` so the layer switcher will inherit the font from it's parent. For instance you could set the `font-family` for

[2021-02-27 16:37] minorsecond opened #411 "Getting layer selection events"
I'm trying to have a legend which changes depending on the current layer visible, but can't figure out how to get layer selection events so that I can then check which layer is selected in order to change the legend.

Is there any way to do this? I've tried adding an EventListener, but can't get that to work. I'm wondering if there are any built-in ways to do what I'm trying to do.

[2021-02-27 17:14] walkermatt commented on #411
Hi, you can probably achieve what you are after by listening to visibility events on the layers themselves. See https://github.com/walkermatt/ol-layerswitcher/issues/30#issuecomment-190136675

[2021-03-20 11:52] #411 closed

[2021-03-20 11:54] minorsecond opened #422 "Cannot read property 'dispatchEvent' of null when using renderpanel"
I'm trying to render the LS control in a div and am getting `Cannot read property 'dispatchEvent' of null` when attempting to do so. The full error reads:

[code]

The relevant JS code is:

[code]

I suspect it has something to do with the options, but I haven't been able to find many examples as to how it should be structured. Am I doing this correctly?

[2021-03-20 12:05] walkermatt commented on #422
Hi, `dispatchEvent` is called on the element `panel` argument passed to `renderPanel`. Can you check that `document.getElementById('ls_controller')` is returning an element.

[2021-03-20 12:09] minorsecond commented on #422
Rookie mistake! I had to put it within `window.onload = function () {}`

Thank you for your help!

[2021-03-20 12:09] #422 closed

[2021-04-26 06:52] lyz1988 opened #433 "The value of deltaPerZoom_ in MouseWheelZoom.js"
I saw the code in mouseWheelZoom.js as follows,
_this.deltaPerZoom_ = 300;

Now i faced the question is that, when i scroll the wheel of the mouse to zoom out or in the map,
the value of the map zoom changed is about 0.333333333,
but the vaue of the zoom controls  changed is 1,

how could i keep the value equal, thanks for your help.

[2021-04-26 12:28] walkermatt commented on #433
For general questions and support regarding OpenLayers you are best to [create a question on StackOverflow](https://stackoverflow.com/questions/tagged/openlayers).

[2021-04-26 12:29] #433 closed

[2021-05-22 09:08] AllroadsNL opened #439 "Collapse, strange behaviour."
The red section does not show the grouplayers like the blue section.

![grouperror](https://user-images.githubusercontent.com/8817345/119219544-6da97a80-bae6-11eb-9ca0-2f77b75a4e41.JPG)
The first four on the bottom working correctly, the red section not.

It looks like when there more then 4 overlay it gives a strange behaviour.

**Is there a limit?**

Using openlayers /v6.5.0/ ol-layerswitcher@3.

[2021-05-24 09:45] walkermatt commented on #439
Hi, Do you have a link to your app so I can take a look in more detail? It looks as though the groups in the red section don't contain any layers but it's hard to tell.

I'm not aware of any limits.

[2021-05-24 11:20] AllroadsNL commented on #439
The mistake, .....
In overlayGroup4 layers I have one: visible: true, with
`				opacity:'0.55', 	`

In OL 5 that was not a problem. It also did not give a OL error (firefox web development / console), layerswitcher tree worked.
but in OL 6 it gives a  error [64](https://openlayers.org/en/v6.5.0/doc/errors/#64)

when I set it to

`				opacity: 0.55, 	`

The tree is now working fine.

At the same ti

[2021-05-24 11:20] #439 closed

[2021-05-24 11:54] walkermatt commented on #439
Thanks for the update, glad you sorted it 😃

[2021-06-18 14:31] #397 closed

[2021-06-18 14:32] #389 closed

[2021-06-18 14:34] walkermatt commented on #388
@hoogw sorry for not seeing this issue when it was first created. Thanks for posting your findings.

[2021-06-18 14:34] #388 closed

[2021-06-18 14:37] walkermatt opened #452 "Calling `hidePanel` doesn't update button state"
When using `activationMode: 'click',` calling `hidePanel` hides the panel but doesn't update the button `textContent` or `title` and `aria-label` attributes.

[2021-06-23 15:26] geraldo opened #456 "How to show layers added by ol-mapbox-style"
I can't figure out how to add layers added by [ol-mapbox-style](https://github.com/openlayers/ol-mapbox-style) `olms` function. I tried to add a "title" parameter to mapbox style json, but this get's ignored. So maybe I could manually add it to LayerSwitcher once the layer has beed added to the OpenLayers map instance? [olms](https://github.com/openlayers/ol-mapbox-style#olms) function returns a p

[2021-06-23 16:27] walkermatt commented on #456
Hi, see https://github.com/walkermatt/ol-layerswitcher/issues/397#issuecomment-778269806

[2021-06-25 08:42] geraldo commented on #456
Great, using setProperties to the mapbox layer solved my issue:

[code]

[2021-06-25 08:42] #456 closed

[2021-07-21 22:37] AllroadsNL opened #466 "Vertical scrollbar, android and..........much layers."
Using in css, bottom: or max-height: with px and 100%

`/* Set the maximum height of the layerswitcher when it's shown */
.layer-switcher.shown {
	bottem: 3em;
    /*max-height:600px;*/
}`
I did see a earlier issue.
#18

On android it is not possible to scroll down to the basemaps.
max-height:600px example image, on the lowest position. For android I should set a less px height to get it working.

[2021-07-22 11:17] AllroadsNL commented on #466
After some tries, now it is working.

I do not understand the problem.

[2021-07-22 11:17] #466 closed

[2021-08-01 13:50] bobingham opened #473 "Angular 12 Class constructor Control cannot be invoked without 'new'"
Reference this issue:
[Class constructor Control cannot be invoked without 'new'](https://github.com/walkermatt/ol-layerswitcher/issues/389)

The only solution I could find is to downgrade the `compilerOptions.target` in my `tsconfig.json` file to "_es5_" from "_es2017_".
I'm not sure this is ideal, are there any plans to upgrade compiler options?

[2021-08-01 15:06] walkermatt commented on #473
I'm wondering if it's time to publish the ESM module alongside the UMD bundle.

[2021-08-01 15:10] bobingham commented on #473
Hi Matt,
You're at a level of coding which I could only dream of.
Layer Switcher is a great addition to Open Layers and I think you for your efforts.
I am simply passing back what occurred during an upgrade from Angular 7 to Angular 12, any help would be greatly appreciated.
I try keep my console as clean as possible so spotted this during running ng-serve.

[2021-08-17 16:28] gowthamidhandapani opened #474 "Issues in multi map for Prefix option functionality."
Validated prefix option for state storage functionality in the provided multimap example and below are the list of observations.

**Common Issues for all the mobile and desktop browsers:**

1. If I select the basemap radio button on the top page, the one on the bottom disappears and viceversa.
2. Icon and text display in layer control for data layers are not aligned and correct. Have already raise

[2021-08-24 13:29] walkermatt commented on #474
@gowthamidhandapani thanks for raising this. I'm going to focus on the radio button issue as I believe the others should be addressed in the ol-ishare project.

[2021-08-31 11:27] gowthamidhandapani commented on #474
@walkermatt There is another issue in the multimap example on Safari(iOS) browser.
**Safari(iOS):**
The page has been loaded with a single map not with 2 states of maps.
But I am able to make changes for both the maps through developer tools (edMap and polMap) and I could see changes visibly for edMap and not polMap.

[2021-09-02 15:17] #452 closed

[2021-09-03 07:34] walkermatt commented on #474
@gowthamidhandapani @devsupportman I'm going to close this issue as the base map radio button issue is resolved.

@gowthamidhandapani I've just looked into an resolved the issue with only a single map displaying on iOS/ Safari which was due to the CSS on the page and not related to the ol-layerswitcher :+1:

[2021-09-03 07:34] #474 closed

[2021-09-03 09:03] walkermatt opened #475 "Add CSS to scroll when needed by default"
Currently when the layer switcher is displaying more layers than will fit vertically those layers at the bottom are hidden from view. The scroll example demonstrates how to set a `max-height` and display a scroll bar when needed but this needs to be manually configured.

This is to propose the following CSS which would limit the height of the layer switcher to just above bottom of the map allows a

[2021-09-03 13:33] devsupportman commented on #475
This seems like a reasonable default.

[2021-09-05 19:49] richard-thomas commented on #475
Definitely agree it would be good to make it scroll by default. However, with activationMode == 'click', the closer button scrolls up and out of sight as the button is part of the layer-switcher div. I have solved this issue in my code by using "fixed" positioning for the button as follows (I have also moved the closer over to the right as a personal preference):

[code]
However, if you exclude th

[2021-09-05 20:04] walkermatt commented on #475
Thanks @richard-thomas I'll take a look

[2021-09-09 13:57] signmeuptwice opened #476 "All layers activated but visible is false"
With the code below all layers are displayed by default but only `osm` is set to `visible:true`

     const createLayerSwitcher = () => {
      const osm = new LayerTile({
        title: 'OSM',
        type: 'base',
        visible: true,
        source: new SourceOSM()
      });

      const google = new LayerTile({
        title: 'XYZ',
        type: 'base',
        visible: false,
        sourc

[2021-09-09 16:05] walkermatt commented on #476
Hi, I assume the examples work for you? I can't see anything obvious in your code. Are the base map layers being displayed in the layer switcher with radio buttons?

[2021-09-09 18:07] signmeuptwice commented on #476
I have not specified any more code than this except the template for the tile-layer

I realise that to get the menu populated I do not need to create objects

If I just put code from line `const layerSwitcher = new LayerSwitcher` I still have menu populated with same behavior

  const layerSwitcher = new LayerSwitcher({
        groupSelectStyle: 'group'
      });
      layerSwitcher.setVisible_(ol

[2021-09-09 19:25] walkermatt commented on #476
Can you specify a type attribute for each `ol-tile-layer` element?

[2021-09-09 20:30] signmeuptwice commented on #476
The attributes is what is being shown in the template. I am using [Vue3-OpenLayers](https://github.com/MelihAltintas/vue3-openlayers); I do not generate everything myself. Does that make any difference ?

[2021-09-10 07:19] signmeuptwice commented on #476
You mean adding new attribute type ?

there is no `type` prop in the [doc](https://vue3openlayers.github.io/componentsguide/layers/tilelayer/)

[2021-09-10 07:30] signmeuptwice commented on #476
is there a way to access the current layerswitcher and manually deselect; could be a workaround but would not solve the core issue.
If you want I can publish the full component code

[2021-09-10 07:39] signmeuptwice commented on #476
in the end you were right.
I just dumbed it and went for `:visible="false"` in template and it worked

It is not in their doc...

Good :)

[2021-09-10 07:39] #476 closed

[2021-09-10 07:57] signmeuptwice opened #478 "Not able to set type='base'"
I am using vue3-openlayers that uses ol-layerswitcher in the bundle

the basic switcher is compiled from vue template automatically as far as I can tell

you say in the doc than in order to have radio button style behavior I need to add `type='base'` to the tile layer

since it worked for `visible` I tried the following

       <ol-tile-layer ref="googleLayer" title="Satellite" :visible="false" :t

[2021-09-12 09:56] walkermatt commented on #478
Are you able to access the ol layer instance once it's created? If so you could set the type property like this:

[code]

[2021-09-15 00:18] paul121 commented on #475
This would be a welcome change! We did something more rudimentary for our implementation of the layer switcher in farmOS-map: https://github.com/farmOS/farmOS-map/pull/101

One minor issue with this approach is that the bottom border is is not displayed when there are lots of layers. When setting `max-height` to a fixed value it seems to keep the border:

Using `max-height: calc(100% - 5.5em)` | U

[2021-09-15 08:19] devsupportman commented on #475
Have you tried something like this?
[code]

[2021-09-15 10:23] richard-thomas commented on #475
Flexbox might be an issue in Internet Explorer 11; I've not tried (my app doesn't support IE11, but others might want), but looking at notes when height isn't explicitly defined in:

https://caniuse.com/flexbox

[2021-09-22 07:34] walkermatt commented on #475
Given that [IE11 is soon out of support](https://docs.microsoft.com/en-us/lifecycle/faq/internet-explorer-microsoft-edge#is-internet-explorer-11-the-last-version-of-internet-explorer-) and may people have already dropped support I'm in favour of adopting the flexbox approach; should IE11 support be required then it can be supported by adding a fixed `max-height` just for IE11 like so:

[code]

[2021-09-22 08:45] walkermatt commented on #475
[Example of the above approach which should scroll reliably on modern browsers and IE11](https://raw.githack.com/walkermatt/ol-layerswitcher/scroll/examples/scroll.html).

Changes: https://github.com/walkermatt/ol-layerswitcher/commit/2115f8e591fdd2add93bcc92d9e301a7d430a096.

[2021-10-30 22:36] wendellwt opened #479 "use with vuelayers?"
Does this component work with [vuelayers](https://vuelayers.github.io/#/)?

I think vuelayers uses `<vl-overlay>` to register overlays to `OpenLayers`,  If so, does `ol-layerswitcher` use the internals of OpenLayers to determine the layer properties?  I think I would just need to add a 'title' property to the overlay component that is within Openlayers, to get an overlay to show up in `ol-layerswi

[2021-10-31 09:48] walkermatt commented on #479
Yes, that's correct; which layers the ol-layerswitcher displays depends on the layer properties.

[2021-10-31 09:50] walkermatt commented on #478
Closing due to inactivity.

[2021-10-31 09:50] #478 closed

[2021-10-31 09:51] walkermatt commented on #404
PR merged, waiting on release

[2021-10-31 09:51] #404 closed

[2022-02-01 07:34] Jalgoczy opened #481 "Compile to ECMAScript"
I am using the layerswitcher in an Angular SPA and it would be great if you could bump the code from CommonJS to ECMAScript.

Thank you.

[2022-02-01 20:30] walkermatt commented on #481
Hi, are you referring to being able to import using ES Module syntax? If so that already possible, see https://github.com/walkermatt/ol-layerswitcher-examples/blob/master/parcel/main.js#L11

[2022-02-04 08:44] Jalgoczy commented on #481
I am using the package in an Angular 13 App. At build time I got a warning that I am using a CommonJS library that can impact my bundle size. Maybe you can look at the documentation from Angular see:
https://angular.io/guide/build#configuring-commonjs-dependencies

[2022-02-15 22:52] alexgao1 opened #482 "Selection of layers that depend on other layers"
Using https://raw.githack.com/walkermatt/ol-layerswitcher/master/examples/select-groups.html as example, given the structure of:

Could it be possible to make it such that it becomes something like:

so that checking off wards will show wards, and that districts can be toggled on or off regardless of wards, but toggling wards off will also disable districts?

If that isn't possible, then can there

[2022-02-16 17:05] alexgao1 commented on #482
Would it also be possible to set whether or not layers are checked off or not upon creation of the layer switcher? (Not wanting all layers on by default)

[2022-02-16 18:05] walkermatt commented on #482
Hi,

The initial visible state of the layers can be set for individual layers either by [specifying a `visible` option](https://github.com/walkermatt/ol-layerswitcher/blob/master/examples/layerswitcher.js#L88) or by calling `setVisible` on a layer instance.

[2022-02-16 18:52] alexgao1 commented on #482
Okay, that works for initially setting a layer to be not visible.

Is there a solution for the first issue that I described about a layer's visibility being dependent on another layer?

[2022-02-16 19:10] walkermatt commented on #482
I don't think you need anything LayerSwitcher specific to solve your first requirement. You can hide the dependent layer from the LayerSwitcher by not giving it a `title` property and toggle it's visibility within a `change:visible` [listener on the other layer](https://openlayers.org/en/latest/apidoc/module-ol_layer_Base-BaseLayer.html#on).

[2022-02-16 21:32] alexgao1 commented on #482
That worked out, makes sense.

Thank you.

[2022-02-16 21:32] #482 closed

[2022-03-28 18:07] andilem opened #483 "Cannot change tipLabel, collapseTipLabel, ... after construction"
Currently, it's impossible to change `tipLabel`, `collapseTipLabel` (and probably `label` and `collapseLabel` and all other options too) after construction with `layerSwitcher.set('key', 'value')`, because they are read once (in the constructor) from the options and not treated like any other OpenLayers options.
With this behavior, I cannot see any way to change the locale/language without having

[2022-04-19 15:10] olivierdalang opened #484 "Set `.disabled` on the whole item, not just the label"
When a layer is not visible due to zoom levels, it's label gets a `disabled` class. Nice ! But what if you want to hide the entry altogether ?

Could we have the class on the <li> item instead ?

[2022-05-27 08:39] skitourenguru opened #485 "Make it possible that layer names can be hyperlinks"
With the **title** properties we can name a layer. However it would be useful to transform the name into a hyperlink. Therefor a new property **url** could be defined side by side to the **title** property.

[2022-07-13 21:21] andilem commented on #483
Any news on this?

[2022-08-19 06:51] vpavic opened #487 "OpenLayers 7.0 compatibility"
OpenLayers 7.0 was [released](https://github.com/openlayers/openlayers/releases/tag/v7.0.0) recently and trying it out with LayerSwitcher (using the most recent release, `3.8.3`) uncovers some incompatibilities. With the very basic examples, this is what I'm seeing:

[code]

The affected line is this:
https://github.com/walkermatt/ol-layerswitcher/blob/5aeaea26dad2b8b508a114c5264d37e0093286d3/dist

[2022-08-20 09:20] walkermatt commented on #487
Thanks for reporting. From a very brief look over breakfast this morning it looks as though removing the transpilation build step (`babel`) avoids the error. As ol had dropped IE11 support I'll consider the same.

[2022-08-22 05:58] walkermatt commented on #487
Looks like the issue is with the fact that ol-layerswitcher is currently transpiled to ES5 while ol now ships native ES classes. See https://stackoverflow.com/a/51860850/526860.

[2022-08-22 08:36] #487 closed

[2022-08-22 08:53] walkermatt commented on #487
Anyone interested in testing the package I've just published a beta: https://www.npmjs.com/package/ol-layerswitcher/v/4.0.0-beta.1.

Install via npm:
[code]

[2022-08-22 11:09] vpavic commented on #487
Thanks for addressing this. I gave it a spin and it works fine for my use cases.

However, I noticed a couple of style glitches in the examples your repo provides:

- side bar overlaps map zoom controls: see [side bar example](https://raw.githack.com/walkermatt/ol-layerswitcher/master/examples/sidebar.html)
- with click activation mode hide button doesn't have top border: see [start with panel act

[2022-08-25 07:11] walkermatt commented on #487
I've just published https://www.npmjs.com/package/ol-layerswitcher/v/4.0.0.

I think the issue with the side bar example is due to the side bar component also needing updating to be compatible with ol v7.

[2022-09-13 07:42] cwassert opened #488 "RFE: Add the `disabled` css class for out-of-zoom-range layer groups as well"
Since a LayerGroup can also have a `minResolution`, `maxResolution`, `minZoom` and `maxZoom`, it makes sense to add this feature to layer groups as well.

[2022-09-13 09:14] walkermatt commented on #488
Hi, [Currently it's assumed that a layer has either min/max resolution or min/max zoom](https://github.com/walkermatt/ol-layerswitcher/blob/master/dist/ol-layerswitcher.js#L476-L484). I've not considered anyone using both on a single layer. It should be quite straightforward to update the current logic to take both into account. If you would like to implement the change I'd be happy to review a pu

[2022-09-15 09:29] adhaca opened #489 "PluggableMap class removed from OL7"
The PluggableMap class has been removed in [Openlayers 7](https://github.com/openlayers/openlayers/releases/tag/v7.0.0). But ol-layerswitcher v4.0.0 is still trying to import it. Is it possible to replace it with the regular Map class?

[2022-09-15 11:16] walkermatt commented on #489
Good catch, I guess that makes the types incompatible with ol v7.

Would you be happy submitting a pull request?

[2022-10-10 10:16] #489 closed

[2022-10-30 00:30] MtnBiker opened #491 "Problem with Rails Stimulus controller use"
Rails Stimulus doesn't deal with ``, therefore going back to old style which seems to work.

Using node_modules;

    import ol from 'openlayers/dist/ol-debug.js'

and then have to use for example `var baseLayers = new ol.layer.Group`

But
    import LayerSwitcher from 'ol-layerswitcher/dist/ol-layerswitcher.js'

 has this error

     ✘ [ERROR] Could not resolve "ol/control/Control"

         node

[2022-10-30 09:13] walkermatt commented on #491
It looks as though you're using ES Modules to import OpenLayers and the LayerSwitcher but when imported ol-layerswitcher thinks you're using CommonJS hence the attempt to use `require`.

Do you know why Rails Stimulus doesn't support `import Map from 'ol/Map';` etc?